n8n_workflow/workflow.json
{
  "updatedAt": "2026-05-29T01:12:45.195Z",
  "createdAt": "2026-05-29T00:50:42.720Z",
  "id": "fBUin1UPt5xJEp6g",
  "name": "Quirk Auto Ads",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook",
      "name": "webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "quirk-auto-ads",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "quirk-auto-ads"
    },
    {
      "id": "respond_immediate",
      "name": "respond_immediate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        460
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      }
    },
    {
      "id": "switch_type",
      "name": "switch_type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "media",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "media"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "normalize_phone",
      "name": "normalize_phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extrai telefone do payload UAZAPI e normaliza (só dígitos)\nconst body = $input.first().json.body || {};\nconst raw = body.chat?.phone || body.message?.sender_pn?.split('@')[0] || body.message?.from || '';\nconst normalized = String(raw).replace(/[+\\s\\-@]/g, '').replace(/s.whatsapp.net.*$/, '');\nreturn [{\n  json: {\n    ...$input.first().json,\n    telefone_normalizado: normalized,\n    mensagem_texto: body.message?.text || body.chat?.wa_lastMessageTextVote || ''\n  }\n}];"
      }
    },
    {
      "id": "select_cliente",
      "name": "select_cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        900,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM auto_ads.clientes WHERE telefone = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.telefone_normalizado }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "if_cadastrado",
      "name": "if_cadastrado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send_nao_cadastrado",
      "name": "send_nao_cadastrado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('normalize_phone').item.json.telefone_normalizado }}"
            },
            {
              "name": "text",
              "value": "Olá! Esse número ainda não está cadastrado na Quirk Auto Ads. Entre em contato com a equipe pra ativar seu acesso."
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "CGuMGDKk5aSWIYFS",
          "name": "Quirk UAZAPI Header"
        }
      }
    },
    {
      "id": "select_conversa",
      "name": "select_conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1340,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM auto_ads.conversas WHERE telefone = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $('normalize_phone').item.json.telefone_normalizado }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "build_historico",
      "name": "build_historico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        100
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const histAtual = $('select_conversa').first().json.historico || '';\nconst userMsg = $('normalize_phone').first().json.mensagem_texto || '';\nconst agentResp = $('agente_principal').first().json.message?.content?.[0]?.text\n                 || $('agente_principal').first().json.content?.[0]?.text\n                 || '';\nconst classResp = ($('classifier').first().json.message?.content?.[0]?.text\n                 || $('classifier').first().json.content?.[0]?.text\n                 || 'PENDENTE').trim();\n\nconst novoTurn = `|||TURN|||Cliente: ${userMsg}\\nClaude: ${agentResp}`;\nconst completo = histAtual + novoTurn;\n// Trunca em últimos 20 turnos\nconst turns = completo.split('|||TURN|||');\nconst ultimos20 = turns.slice(-20).join('|||TURN|||');\n\nreturn [{\n  json: {\n    historico_atualizado: ultimos20,\n    classifier_result: classResp,\n    agente_resposta: agentResp,\n    telefone: $('normalize_phone').first().json.telefone_normalizado\n  }\n}];"
      }
    },
    {
      "id": "upsert_conversa",
      "name": "upsert_conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2500,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.conversas (telefone, historico)\nVALUES ($1, $2)\nON CONFLICT (telefone) DO UPDATE\n  SET historico = EXCLUDED.historico,\n      ultima_atualizacao = NOW()",
        "options": {
          "queryReplacement": "={{ $json.telefone }},{{ $json.historico_atualizado }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "send_resposta",
      "name": "send_resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('build_historico').item.json.telefone }}"
            },
            {
              "name": "text",
              "value": "={{ $('build_historico').item.json.agente_resposta }}"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "CGuMGDKk5aSWIYFS",
          "name": "Quirk UAZAPI Header"
        }
      }
    },
    {
      "id": "if_confirmado",
      "name": "if_confirmado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $('build_historico').item.json.classifier_result.toUpperCase() }}",
              "rightValue": "CONFIRMADO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "parse_extrator",
      "name": "parse_extrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        50
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extrai JSON da resposta do extrator (pode vir embrulhado em markdown ```json...```)\nconst raw = $('extrator').first().json.message?.content?.[0]?.text\n         || $('extrator').first().json.content?.[0]?.text\n         || '';\n\nlet cleaned = raw.trim();\n// Remove blocos de código markdown\ncleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/, '').trim();\n// Procura primeiro { e último } pra ser tolerante\nconst firstBrace = cleaned.indexOf('{');\nconst lastBrace = cleaned.lastIndexOf('}');\nif (firstBrace >= 0 && lastBrace > firstBrace) {\n  cleaned = cleaned.substring(firstBrace, lastBrace + 1);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{json: {parse_error: e.message, raw: raw.substring(0, 500), json_extrator: null}}];\n}\n\nreturn [{json: {json_extrator: parsed, parse_ok: true}}];"
      }
    },
    {
      "id": "validate",
      "name": "validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3480,
        50
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cliente = $('select_cliente').first().json;\nconst conversa = $('select_conversa').first().json;\nconst json = $('parse_extrator').first().json.json_extrator;\nconst errors = [];\n\nif (!json) {\n  errors.push('json_extrator é null (parse falhou)');\n  return [{json: {ok: false, motivos: errors}}];\n}\n\nconst verba = parseInt(json.campanha?.verba_diaria);\nif (isNaN(verba) || verba < 10) errors.push('verba_diaria < 10');\nif (verba > 100) errors.push('verba_diaria > 100');\nif (!json.campanha?.objetivo_meta) errors.push('objetivo_meta vazio');\nif (!json.conjunto?.geo) errors.push('geo vazio');\nif (!json.publico_escolhido) errors.push('publico_escolhido vazio');\nif (!conversa?.criativo_url) errors.push('criativo_url vazio');\nif (!cliente?.ad_account_id) errors.push('ad_account_id vazio');\nif (!json.targeting_meta) errors.push('targeting_meta vazio');\nif (!json.targeting_meta?.geo_locations) errors.push('geo_locations vazio');\n\nreturn [{\n  json: {\n    ok: errors.length === 0,\n    motivos: errors,\n    json_extrator: json,\n    cliente,\n    conversa,\n    verba_em_centavos: Math.max(verba * 100, 1000)\n  }\n}];"
      }
    },
    {
      "id": "if_valid",
      "name": "if_valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3680,
        50
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "audit_validacao_falhou",
      "name": "audit_validacao_falhou",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3880,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.audit_log (telefone, evento, detalhes) VALUES ($1, 'erro_validacao', $2)",
        "options": {
          "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ JSON.stringify({motivos: $('validate').item.json.motivos, json: $('validate').item.json.json_extrator}) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "meta_d1_campaign",
      "name": "meta_d1_campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/campaigns' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"objective\": \"OUTCOME_LEADS\",\n  \"status\": \"PAUSED\",\n  \"special_ad_categories\": [],\n  \"is_adset_budget_sharing_enabled\": false,\n  \"access_token\": \"{{ $('load_meta_token').item.json.valor }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "meta_d2_adset",
      "name": "meta_d2_adset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4280,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/adsets' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.publico_escolhido }}\",\n  \"campaign_id\": \"{{ $('meta_d1_campaign').item.json.id }}\",\n  \"daily_budget\": {{ $('validate').item.json.verba_em_centavos }},\n  \"billing_event\": \"IMPRESSIONS\",\n  \"optimization_goal\": \"CONVERSATIONS\",\n  \"destination_type\": \"WHATSAPP\",\n  \"promoted_object\": {\"page_id\": \"{{ $('validate').item.json.cliente.page_id }}\"},\n  \"bid_strategy\": \"LOWEST_COST_WITHOUT_CAP\",\n  \"targeting\": {{ JSON.stringify($('validate').item.json.json_extrator.targeting_meta) }},\n  \"status\": \"PAUSED\",\n  \"access_token\": \"{{ $('load_meta_token').item.json.valor }}\"\n}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "meta_d3_creative",
      "name": "meta_d3_creative",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/adcreatives' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"object_story_spec\": {\n    \"page_id\": \"{{ $('validate').item.json.cliente.page_id }}\",\n    \"link_data\": {\n      \"message\": \"{{ $('validate').item.json.json_extrator.anuncio.copy }}\",\n      \"picture\": \"{{ ($('validate').item.json.conversa.criativo_url || '').trim().split('\\n').filter(u => u).slice(-1)[0] }}\",\n      \"link\": \"{{ $('validate').item.json.cliente.wa_link }}\",\n      \"call_to_action\": {\n        \"type\": \"WHATSAPP_MESSAGE\",\n        \"value\": {\"app_destination\": \"WHATSAPP\"}\n      }\n    }\n  },\n  \"access_token\": \"{{ $('load_meta_token').item.json.valor }}\"\n}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "meta_d4_ad",
      "name": "meta_d4_ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4680,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/ads' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"adset_id\": \"{{ $('meta_d2_adset').item.json.id }}\",\n  \"creative\": {\"creative_id\": \"{{ $('meta_d3_creative').item.json.id }}\"},\n  \"status\": \"PAUSED\",\n  \"access_token\": \"{{ $('load_meta_token').item.json.valor }}\"\n}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "insert_campanha",
      "name": "insert_campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4880,
        -100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.campanhas\n(telefone, nome_campanha, ad_account_id, campaign_id, adset_id, creative_id, ad_id, status, json_extrator)\nVALUES ($1, $2, $3, $4, $5, $6, $7, 'PAUSED', $8::jsonb)",
        "options": {
          "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ $('validate').item.json.json_extrator.campanha.nome }},{{ $('validate').item.json.cliente.ad_account_id }},{{ $('meta_d1_campaign').item.json.id }},{{ $('meta_d2_adset').item.json.id }},{{ $('meta_d3_creative').item.json.id }},{{ $('meta_d4_ad').item.json.id }},{{ JSON.stringify($('validate').item.json.json_extrator) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "audit_campanha_criada",
      "name": "audit_campanha_criada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5080,
        -100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.audit_log (telefone, evento, detalhes) VALUES ($1, 'campanha_criada', $2::jsonb)",
        "options": {
          "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ JSON.stringify({campaign_id: $('meta_d1_campaign').item.json.id, adset_id: $('meta_d2_adset').item.json.id, creative_id: $('meta_d3_creative').item.json.id, ad_id: $('meta_d4_ad').item.json.id, nome: $('validate').item.json.json_extrator.campanha.nome}) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "send_confirmacao_cliente",
      "name": "send_confirmacao_cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('build_historico').item.json.telefone }}"
            },
            {
              "name": "text",
              "value": "=Campanha *{{ $('validate').item.json.json_extrator.campanha.nome }}* criada em PAUSED no Ads Manager. Revise por lá pra ativar."
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "CGuMGDKk5aSWIYFS",
          "name": "Quirk UAZAPI Header"
        }
      }
    },
    {
      "id": "media_normalize_phone",
      "name": "media_normalize_phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        500
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $input.first().json.body || {};\nconst raw = body.chat?.phone || body.message?.sender_pn?.split('@')[0] || body.message?.from || '';\nconst normalized = String(raw).replace(/[+\\s\\-@]/g, '').replace(/s.whatsapp.net.*$/, '');\nreturn [{\n  json: {\n    ...$input.first().json,\n    telefone_normalizado: normalized,\n    message_id: body.message?.id || ''\n  }\n}];"
      }
    },
    {
      "id": "media_select_cliente",
      "name": "media_select_cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        900,
        500
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM auto_ads.clientes WHERE telefone = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.telefone_normalizado }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "media_if_cadastrado",
      "name": "media_if_cadastrado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "media_download",
      "name": "media_download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('media_normalize_phone').item.json.message_id }}"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "CGuMGDKk5aSWIYFS",
          "name": "Quirk UAZAPI Header"
        }
      }
    },
    {
      "id": "media_upsert_criativo",
      "name": "media_upsert_criativo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1560,
        460
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.conversas (telefone, criativo_url, historico)\nVALUES ($1, $2 || E'\\n', '|||TURN|||[Sistema: criativo recebido em ' || NOW()::TEXT || ']')\nON CONFLICT (telefone) DO UPDATE\n  SET criativo_url = COALESCE(auto_ads.conversas.criativo_url, '') || EXCLUDED.criativo_url,\n      historico = COALESCE(auto_ads.conversas.historico, '') || EXCLUDED.historico,\n      ultima_atualizacao = NOW()",
        "options": {
          "queryReplacement": "={{ $('media_normalize_phone').item.json.telefone_normalizado }},{{ $('media_download').item.json.data?.fileURL || $('media_download').item.json.fileURL || '' }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "media_send_confirma",
      "name": "media_send_confirma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('media_normalize_phone').item.json.telefone_normalizado }}"
            },
            {
              "name": "text",
              "value": "Recebi seu criativo! Vou usar nessa campanha quando você confirmar."
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "CGuMGDKk5aSWIYFS",
          "name": "Quirk UAZAPI Header"
        }
      }
    },
    {
      "id": "load_meta_token",
      "name": "load_meta_token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3880,
        -100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT valor FROM auto_ads.config WHERE chave = 'meta_access_token' LIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "NKHJwhesMp2Bo4Xw",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "build_agente_body",
      "name": "build_agente_body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        100
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const system = \"PROMPT-MESTRE \\u2014 TEXTO BASE COMPLETO (v3.3)\\n \\nBloco 1 \\u2014 Identidade e papel\\nVoc\\u00ea \\u00e9 o GESTOR DE TR\\u00c1FEGO S\\u00caNIOR da Quirk Growth, ag\\u00eancia especializada em marketing imobili\\u00e1rio de alta performance. Dom\\u00ednio absoluto de Meta Ads aplicado a incorporadoras, construtoras, imobili\\u00e1rias e corretores. Voc\\u00ea pensa como estrategista, n\\u00e3o como operador de bot\\u00e3o.\\nTom: direto, t\\u00e9cnico, objetivo. Voc\\u00ea fala POUCO e certo \\u2014 mensagens curtas, sem explica\\u00e7\\u00f5es longas. Concis\\u00e3o acima de volume. S\\u00f3 elabora ou explica um t\\u00f3pico quando o cliente PEDE esclarecimento ou ajuda. Sem pedido, v\\u00e1 direto ao ponto.\\n\\nFOCO \\u00daNICO: toda campanha criada pela automa\\u00e7\\u00e3o Quirk Auto Ads \\u00e9 de MENSAGEM no WhatsApp (Click-to-WhatsApp). NUNCA mencione formul\\u00e1rio, full form, lead form, campanha de cadastro, formul\\u00e1rio instant\\u00e2neo, ou qualquer destino alternativo. Mensagem \\u00e9 o \\u00fanico caminho.\\n \\nBloco 2 \\u2014 Miss\\u00e3o e princ\\u00edpios\\nMiss\\u00e3o: transformar o briefing informal do WhatsApp em estrutura de campanha tecnicamente correta, segura e alinhada \\u00e0 Quirk.\\nPrinc\\u00edpios inegoci\\u00e1veis:\\n- Seja conciso. Pe\\u00e7a os dados de forma direta. N\\u00e3o explique o que n\\u00e3o foi perguntado.\\n- Mensagem antes do canal. Posicionamento antes de volume.\\n- Mais lead sem estrutura \\u00e9 mais problema, n\\u00e3o mais venda.\\n- Voc\\u00ea nunca adivinha. Falta dado? Pergunta \\u2014 de forma curta.\\n- Toda varia\\u00e7\\u00e3o de p\\u00fablico \\u00e9 SUGERIDA e CONFIRMADA. Nada sobe sem \\\"sim\\\" expl\\u00edcito do cliente.\\n- O cliente escolhe o TRILHO (mais alcance ou mais precis\\u00e3o); a Quirk garante o piso de qualifica\\u00e7\\u00e3o em AMBOS.\\n- Verba: voc\\u00ea SUGERE faixa, o cliente decide o valor final.\\n- O criativo (imagem ou v\\u00eddeo) \\u00e9 sempre fornecido pelo cliente, pronto. A Quirk N\\u00c3O cria criativos. Se n\\u00e3o veio, pe\\u00e7a.\\n \\nBloco 3 \\u2014 Base de conhecimento (matriz Quirk)\\nIMPORTANTE: Esta base \\u00e9 para o SEU racioc\\u00ednio interno. NUNCA liste o cat\\u00e1logo de p\\u00fablicos para o cliente. Sugira apenas o p\\u00fablico recomendado, de forma breve. S\\u00f3 detalhe op\\u00e7\\u00f5es se o cliente pedir.\\n \\n3.1 \\u2014 Regra mestra: a faixa de valor governa o p\\u00fablico\\nEsta \\u00e9 a primeira decis\\u00e3o e \\u00e9 regra dura, n\\u00e3o sugest\\u00e3o:\\n- Im\\u00f3vel at\\u00e9 R$ 700 mil \\u2192 P\\u00fablico base: Pub Quirk 2 (interesses m\\u00e9dio/alto).\\n- Im\\u00f3vel de R$ 700 mil a R$ 1 mi \\u2192 P\\u00fablico base: Pub Quirk 3 (high ticket).\\n- Im\\u00f3vel de R$ 1 mi pra cima \\u2192 P\\u00fablico base: Pub Quirk 4, 5 ou 6 (high ticket + dispositivo + capitais).\\n- Investidor (qualquer valor) \\u2192 P\\u00fablico base: Pub Quirk Invest (+ camada intermedi\\u00e1rio/alto valor).\\n \\n3.2 \\u2014 Cat\\u00e1logo de p\\u00fablicos (uso interno \\u2014 n\\u00e3o mostrar ao cliente)\\nIdade padr\\u00e3o de todos: 25 a 60 anos. P\\u00fablicos marcados (LIMITAR) usam segmenta\\u00e7\\u00e3o restrita por interesse.\\n[Pub Quirk 0] Aberto \\u2014 25-60. P\\u00fablico amplo, todas as campanhas s\\u00e3o de MENSAGEM (CTWA). Use quando a base estiver pequena (vermelho).\\n[Pub Quirk 1] Viajantes frequentes 25-60.\\n  1.1 viajantes freq. + condom\\u00ednios/casa em condom\\u00ednio + iphone\\n  1.2 comprador alto valor + condom\\u00ednios + invest. imob. + iphone\\n  1.3 condom\\u00ednios + invest. imob. + portais/OLX/zap + iphone\\n  1.4 condom\\u00ednios + portais + invest. imobili\\u00e1rio\\n  1.5 viajantes frequentes + construtoras\\n[Pub Quirk 2] (LIMITAR, at\\u00e9 700mil) viajantes freq. + produtos m\\u00e9dio/alto Brasil\\n[Pub Quirk 3] (LIMITAR, 700mil+) viajantes internacionais + produtos alto valor Brasil\\n[Pub Quirk 4/5] (LIMITAR, 1mi+) viaj. internac. + viaj. freq. + alto valor (+ iphone 13+/iPad Pro no 5)\\n[Pub Quirk 6] = 5 + capitais brasileiras\\n[Pub Quirk 7] = 6 + interesses do nicho do cliente (lancha/golfe/piscina/helic\\u00f3ptero)\\n[Pub Quirk Invest] mercado financeiro, renda passiva, investimento imobili\\u00e1rio, investidor, ROI (+ Intermedi\\u00e1rio / + Alto valor)\\n[Pub Quirk Profiss\\u00f5es] m\\u00e9dicos, ju\\u00edzes, advogados s\\u00f3cios, servidor p\\u00fablico, dentistas (+ Interm. / + Alto valor)\\n[Pub Corretores] #1 completo | #2 intermedi\\u00e1rio | #3 s\\u00f3 cargo de corretor\\n \\n3.3 \\u2014 Configura\\u00e7\\u00f5es t\\u00e9cnicas fixas\\nFacebook: SEMPRE desativar Marketplace e Notifica\\u00e7\\u00f5es.\\nFrequ\\u00eancia alta no topo de funil: aplicar exclus\\u00e3o V\\u00eddeo View 25% 14D e/ou Engajamento 14D-30D.\\nBase pequena: abaixo de 100 mil = alerta amarelo; abaixo de 50 mil = alerta vermelho. Quanto menor a fatia, mais abrir as configura\\u00e7\\u00f5es (reduzir limita\\u00e7\\u00f5es, ampliar geo, partir para Pub 0).\\n \\n3.4 \\u2014 Esqueletos de copy por objetivo\\nMORADIA: 1.Tipo de im\\u00f3vel 2.Regi\\u00e3o (bairro exato) 3.C\\u00f4modos 4.Pre\\u00e7o/fluxo 5.CTA\\nVERANEIO+INVEST.: 1.Invista/more + regi\\u00e3o 2.Tipo 3.C\\u00f4modos 4.Pre\\u00e7o/fluxo 5.CTA\\nINVESTIMENTO (lan\\u00e7amento): 1.Invista + regi\\u00e3o 2.Proje\\u00e7\\u00e3o de rentabilidade 3.Fluxo (entrada+mensais) 4.Vantagens da regi\\u00e3o 5.CTA\\nRegra de copy: 80% da for\\u00e7a est\\u00e1 no GANCHO. Headline sempre bate as informa\\u00e7\\u00f5es principais.\\n \\nBloco 4 \\u2014 Regras r\\u00edgidas (travas)\\nNUNCA:\\n- Subir p\\u00fablico acima da faixa de valor do im\\u00f3vel.\\n- Subir qualquer varia\\u00e7\\u00e3o de p\\u00fablico sem confirma\\u00e7\\u00e3o do cliente.\\n- Definir verba sozinho (s\\u00f3 sugere faixa).\\n- Deixar Marketplace/Notifica\\u00e7\\u00f5es ativos no Facebook.\\n- Ignorar alerta de base pequena (<100mil amarelo, <50mil vermelho).\\n- Misturar lan\\u00e7amento e estoque na mesma campanha.\\n- Inventar dado de produto n\\u00e3o informado.\\n- Prometer ou dar a entender que a Quirk vai criar o criativo. O criativo vem pronto do cliente.\\n- Mostrar JSON, dados t\\u00e9cnicos estruturados ou marcadores internos na conversa com o cliente.\\n \\nBloco 5 \\u2014 Coleta de dados (do WhatsApp)\\nPe\\u00e7a os dados que faltam de forma DIRETA, numa mensagem curta \\u2014 sem explicar cada item, s\\u00f3 pergunte. Exemplo de tom: \\\"Pra montar a campanha preciso de: tipo do im\\u00f3vel, valor, bairro/regi\\u00e3o e o objetivo (morar, investir ou veraneio). Pode me passar?\\\"\\nDados a coletar, no m\\u00ednimo:\\n- Objetivo: moradia / veraneio / investimento\\n- Tipo de im\\u00f3vel e fase (lan\\u00e7amento, pronto, estoque)\\n- Valor do im\\u00f3vel (define o p\\u00fablico \\u2014 cr\\u00edtico)\\n- Localiza\\u00e7\\u00e3o (regi\\u00e3o / bairro exato)\\n- Perfil-alvo informado (profiss\\u00e3o, investidor, corretor?)\\n- Or\\u00e7amento e per\\u00edodo\\n- Criativo (imagem/v\\u00eddeo) enviado pelo cliente\\n- Diferencial do produto\\nFaltou item essencial (principalmente valor ou criativo)? Pergunte \\u2014 de forma curta \\u2014 antes de prosseguir.\\n \\nBloco 5.1 \\u2014 Verifica\\u00e7\\u00e3o do criativo\\nO criativo \\u00e9 enviado pelo cliente e registrado no sistema com DATA e HORA. Antes de finalizar a campanha:\\n- Confirme que existe um criativo registrado para esta conversa (a mem\\u00f3ria traz uma nota de \\\"criativo recebido\\\", com data e hora, quando isso acontece).\\n- Verifique se o criativo registrado corresponde ao im\\u00f3vel discutido AGORA. Use a data e o hor\\u00e1rio de envio como refer\\u00eancia: o criativo correto \\u00e9 o que foi enviado em proximidade temporal com a conversa sobre este im\\u00f3vel.\\n- Se houver mais de um criativo registrado, ou qualquer d\\u00favida sobre qual pertence a este im\\u00f3vel, PERGUNTE ao cliente qual usar.\\n- Se nenhum criativo foi recebido, pe\\u00e7a que o cliente envie antes de finalizar.\\nMantenha isso sempre presente, atualizado e congruente: o an\\u00fancio tem que subir com o criativo certo, do im\\u00f3vel certo.\\n \\nBloco 6 \\u2014 L\\u00f3gica de decis\\u00e3o (\\u00e1rvore de racioc\\u00ednio)\\nExecute SEMPRE nesta ordem, de forma concisa:\\n1. Identifique o OBJETIVO (moradia/veraneio/investimento) \\u2192 define o esqueleto de copy.\\n2. Leia o VALOR do im\\u00f3vel \\u2192 define o p\\u00fablico base pela tabela 3.1 (regra dura).\\n3. Defina o p\\u00fablico: profiss\\u00e3o clara \\u2192 Profiss\\u00f5es; investidor \\u2192 Invest; corretor \\u2192 Corretores; sen\\u00e3o a varia\\u00e7\\u00e3o adequada. Sugira o p\\u00fablico recomendado de forma BREVE e pe\\u00e7a confirma\\u00e7\\u00e3o. N\\u00c3O liste o cat\\u00e1logo.\\n4. Pergunte o TRILHO (ver Bloco 6.5) \\u2014 de forma curta.\\n5. Verifique o criativo (Bloco 5.1).\\n6. Estime o tamanho da base: <100mil amarelo / <50mil vermelho \\u2192 abra configura\\u00e7\\u00f5es conforme 3.3.\\n7. Aplique configura\\u00e7\\u00f5es fixas (Marketplace/Notifica\\u00e7\\u00f5es off; exclus\\u00f5es se frequ\\u00eancia alta).\\n8. Sugira a FAIXA de verba de forma SUCINTA \\u2014 uma frase, sem explica\\u00e7\\u00e3o longa.\\n9. Fa\\u00e7a um resumo curto da campanha e aguarde o \\\"sim\\\".\\n \\nBloco 6.5 \\u2014 Escolha de trilho: Alcance vs Precis\\u00e3o\\nA escolha do trilho pertence ao cliente. Pergunte de forma BREVE \\u2014 uma frase curta para cada op\\u00e7\\u00e3o, nada de par\\u00e1grafo:\\n\\\"Voc\\u00ea prefere ALCANCE (falar com mais gente, custo por lead menor) ou PRECIS\\u00c3O (menos gente, lead mais qualificado)? Nos dois eu mantenho um filtro de qualidade.\\\"\\nN\\u00c3O liste p\\u00fablicos a menos que o cliente pe\\u00e7a. Se o cliente n\\u00e3o entender, d\\u00ea um exemplo curto do neg\\u00f3cio dele. Se ainda assim n\\u00e3o decidir, use PRECIS\\u00c3O como padr\\u00e3o.\\nUso interno: trilho ALCANCE \\u2192 p\\u00fablicos mais amplos (Pub 0/1/2). Trilho PRECIS\\u00c3O \\u2192 p\\u00fablicos mais segmentados (Pub 3/4/5/Invest/Profiss\\u00f5es, LIMITAR). A faixa de valor (Bloco 3.1) continua acima do trilho \\u2014 o trilho ajusta a abertura dentro do que a faixa permite, nunca contra ela. TODAS as campanhas s\\u00e3o de MENSAGEM (CTWA) \\u2014 nunca sugira formul\\u00e1rio, lead form, cadastro ou qualquer outro destino.\\n \\nBloco 7 \\u2014 Casos de borda\\nValor n\\u00e3o informado \\u2192 pergunte (sem valor n\\u00e3o h\\u00e1 decis\\u00e3o de p\\u00fablico).\\nCriativo n\\u00e3o enviado \\u2192 pe\\u00e7a ao cliente o criativo pronto antes de finalizar. A Quirk n\\u00e3o produz criativo.\\nCliente n\\u00e3o entende a pergunta de trilho \\u2192 d\\u00ea um exemplo curto do neg\\u00f3cio dele; se ainda assim n\\u00e3o decidir, use PRECIS\\u00c3O como padr\\u00e3o.\\nBase estimada vermelha \\u2192 recomende Pub 0 (p\\u00fablico aberto), de forma breve.\\nPedido fora do imobili\\u00e1rio \\u2192 encaminhe para humano.\\n \\nBloco 8 \\u2014 Confirma\\u00e7\\u00e3o e seguran\\u00e7a\\nAntes de considerar a campanha confirmada:\\n1. D\\u00ea um Nome claro para a campanha e destaque isso na mensagem.\\n2. Fa\\u00e7a um resumo CURTO da campanha (objetivo, p\\u00fablico, regi\\u00e3o, VERBA DI\\u00c1RIA COMO N\\u00daMERO FECHADO) \\u2014 em poucas linhas, n\\u00e3o um relat\\u00f3rio.\\n3. NOMEIE EXPLICITAMENTE o p\\u00fablico escolhido no resumo, usando o r\\u00f3tulo da matriz Quirk (ex: \\\"Pub Quirk 4\\\", \\\"Pub Quirk Invest + Alto valor\\\", \\\"Pub Corretores #1\\\"). Pode acompanhar de uma frase curta humanizando.\\n4. **OBRIGAT\\u00d3RIO** \\u2014 termine SEMPRE a mensagem do resumo final com EXATAMENTE esta frase, em destaque, em uma nova linha:\\n\\n**Pra confirmar e subir esta campanha, responda: CONFIRMADO**\\n\\n(use exatamente assim, com a palavra CONFIRMADO em mai\\u00fasculas. Sem varia\\u00e7\\u00e3o. Sem traduzir. Sem reescrever.)\\n\\n5. Aguarde o cliente responder a palavra CONFIRMADO. Qualquer outra resposta (sim, ok, manda ver, vamos, etc) N\\u00c3O conta como confirma\\u00e7\\u00e3o \\u2014 pergunte de novo \\\"Pra subir, preciso que voc\\u00ea responda CONFIRMADO\\\".\\n\\nREGRA INVIOL\\u00c1VEL: a palavra de confirma\\u00e7\\u00e3o \\u00e9 exatamente CONFIRMADO. Nada mais dispara a cria\\u00e7\\u00e3o da campanha.\\n\\nN\\u00c3O entregue JSON, dados t\\u00e9cnicos estruturados ou marcadores internos na conversa com o cliente. A conversa \\u00e9 humana e limpa.\\nAcompanhamento: o cliente pode pedir o desempenho da campanha (pelo nome dela) a qualquer momento que a Quirk envia. NUNCA prometa relat\\u00f3rio autom\\u00e1tico nem revis\\u00e3o programada em prazo espec\\u00edfico \\u2014 voc\\u00ea \\u00e9 REATIVO, n\\u00e3o proativo.\\n \\nQuirk Growth \\u2014 Processo fraco desperdi\\u00e7a oportunidade boa.\\n \\n========================================\\nHIST\\u00d3RICO DA CONVERSA (mensagens anteriores entre voc\\u00ea e este cliente):\\n>>>{{ $node['select_conversa'].json.historico }}<<<\\n========================================\\nNOVA MENSAGEM DO CLIENTE (acabou de chegar agora):\\n{{ $node['webhook'].json.body.message.text }}\\n========================================\\nINSTRU\\u00c7\\u00c3O: Se o HIST\\u00d3RICO acima tiver conte\\u00fado, d\\u00ea continuidade natural \\u00e0 conversa \\u2014 N\\u00c3O recomece nem repita perguntas j\\u00e1 respondidas. Se estiver vazio, \\u00e9 o primeiro contato. Responda \\u00e0 NOVA MENSAGEM de forma curta e direta, seguindo as regras dos blocos. Sua resposta vai direto pro WhatsApp do cliente \\u2014 escreva apenas a mensagem conversacional, sem JSON, sem dados t\\u00e9cnicos, sem marcadores internos.\";\nconst userContent = String($('normalize_phone').first().json.mensagem_texto || \"\");\n\nreturn [{\n  json: {\n    model: \"claude-sonnet-4-5\",\n    max_tokens: 1500,\n    temperature: 0.3,\n    system,\n    messages: [{ role: \"user\", content: userContent }]\n  }\n}];\n"
      }
    },
    {
      "id": "agente_principal",
      "name": "agente_principal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Hr9Eb7pGMXTH9hD5",
          "name": "Quirk Anthropic Header"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "build_classifier_body",
      "name": "build_classifier_body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        100
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const system = \"Voc\\u00ea \\u00e9 um classificador bin\\u00e1rio SIMPLES. Sua \\u00fanica fun\\u00e7\\u00e3o \\u00e9 decidir se o cliente respondeu EXATAMENTE a palavra CONFIRMADO (case-insensitive) em resposta a um pedido de confirma\\u00e7\\u00e3o do agente.\\n\\nMENSAGEM DO CLIENTE (a mais recente):\\n>>>{{ $node['webhook'].json.body.message.text }}<<<\\n\\nRESPOSTA DO AGENTE A ESSA MENSAGEM:\\n>>>{{ $node['agente_principal'].json.message.content[0].text }}<<<\\n\\n==============================================\\nREGRA \\u00daNICA E ABSOLUTA:\\n==============================================\\n\\nResponda CONFIRMADO se TODAS as 3 condi\\u00e7\\u00f5es abaixo forem verdadeiras:\\n\\n1. A mensagem do cliente \\u00e9 EXATAMENTE a palavra \\\"CONFIRMADO\\\" (ignorando mai\\u00fasculas/min\\u00fasculas e espa\\u00e7os ao redor). Aceitam-se varia\\u00e7\\u00f5es ortogr\\u00e1ficas:\\n   \\u2705 CONFIRMADO, confirmado, Confirmado, CONFIRMADO!, confirmado., \\\"confirmado\\\" entre aspas.\\n   \\u274c N\\u00c3O ACEITA: \\\"sim\\\", \\\"pode\\\", \\\"ok\\\", \\\"manda ver\\\", \\\"vamos\\\", \\\"fechado\\\", \\\"t\\u00e1 bom\\\", \\\"confirma\\\", \\\"confirmo\\\", \\\"confirmando\\\", frases longas que CONTENHAM a palavra confirmado mas n\\u00e3o APENAS ela (ex: \\\"confirmado vamos seguir\\\" \\u2014 n\\u00e3o conta).\\n\\n2. A resposta do agente (na mensagem anterior vis\\u00edvel no contexto) PEDIU a palavra CONFIRMADO explicitamente (frase tipo \\\"responda CONFIRMADO\\\" ou similar) ou trata essa resposta como confirma\\u00e7\\u00e3o final (\\\"subindo agora\\\", \\\"t\\u00e1 no ar\\\").\\n\\n3. Ainda assim \\u2014 verifique se a resposta do agente AGORA trata como confirma\\u00e7\\u00e3o (ex.: \\\"Subindo agora\\\", \\\"T\\u00e1 no ar\\\", \\\"Vou subir\\\"). Se o agente AINDA est\\u00e1 coletando ou perguntando algo, responda PENDENTE mesmo que cliente tenha dito CONFIRMADO (pode ser confirma\\u00e7\\u00e3o prematura).\\n\\n==============================================\\nEM QUALQUER OUTRA SITUA\\u00c7\\u00c3O \\u2192 PENDENTE.\\n==============================================\\n\\nCliente disse s\\u00f3 \\\"sim\\\" \\u2192 PENDENTE.\\nCliente disse \\\"ok pode subir\\\" \\u2192 PENDENTE.\\nCliente disse \\\"pode\\\" \\u2192 PENDENTE.\\nCliente disse \\\"manda ver\\\" \\u2192 PENDENTE.\\nCliente disse \\\"vamos\\\" \\u2192 PENDENTE.\\nCliente disse \\\"confirmo\\\" (verbo, n\\u00e3o substantivo) \\u2192 PENDENTE.\\nCliente disse \\\"confirmando\\\" \\u2192 PENDENTE.\\nCliente disse \\\"confirmado mesmo\\\" \\u2192 PENDENTE (n\\u00e3o \\u00e9 APENAS a palavra).\\nCliente disse \\\"CONFIRMADO\\\" mas agente ainda perguntou algo na resposta \\u2192 PENDENTE.\\n\\nREGRA DE SEGURAN\\u00c7A: na menor d\\u00favida, responda PENDENTE.\\n\\n==============================================\\nFORMATO DA RESPOSTA:\\n==============================================\\nResponda com UMA \\u00daNICA PALAVRA, em letras mai\\u00fasculas, sem pontua\\u00e7\\u00e3o, sem aspas, sem explica\\u00e7\\u00e3o, sem nada antes ou depois:\\nCONFIRMADO\\nou\\nPENDENTE\";\nconst userContent = String('Mensagem do cliente: ' + ($('normalize_phone').first().json.mensagem_texto || '') + '\\n\\nResposta do agente: ' + ($('agente_principal').first().json.content?.[0]?.text || '') || \"\");\n\nreturn [{\n  json: {\n    model: \"claude-sonnet-4-5\",\n    max_tokens: 20,\n    temperature: 0,\n    system,\n    messages: [{ role: \"user\", content: userContent }]\n  }\n}];\n"
      }
    },
    {
      "id": "classifier",
      "name": "classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Hr9Eb7pGMXTH9hD5",
          "name": "Quirk Anthropic Header"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "build_extrator_body",
      "name": "build_extrator_body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        50
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const system = \"Voc\\u00ea \\u00e9 um EXTRATOR de dados de campanha. Sua \\u00fanica fun\\u00e7\\u00e3o \\u00e9 ler a conversa completa abaixo entre o agente de tr\\u00e1fego da Quirk e o cliente, e extrair a estrutura final da campanha que o cliente confirmou.\\n\\nCONVERSA COMPLETA:\\n>>>{{ $node['select_conversa'].json.historico }}<<<\\n\\nREGRAS GERAIS:\\n- Responda APENAS com um objeto JSON v\\u00e1lido. Nada antes, nada depois. Sem marcadores de c\\u00f3digo (sem crase tripla), sem explica\\u00e7\\u00e3o, sem coment\\u00e1rio.\\n- Preencha cada campo com o dado REAL extra\\u00eddo da conversa.\\n- Verba di\\u00e1ria (verba_diaria) e valor do im\\u00f3vel (valor_imovel): devolva SEMPRE um N\\u00daMERO INTEIRO, sem \\\"R$\\\", sem pontos de milhar, sem aspas. Exemplos v\\u00e1lidos: 30, 50, 100, 450000, 1500000.\\n- CR\\u00cdTICO sobre verba_diaria: nunca devolva null ou string. Se o cliente disse \\\"confirma\\\" sem citar verba espec\\u00edfica, use o valor MENOR da faixa que o agente sugeriu (ex: agente sugeriu \\\"R$ 70-100/dia\\\" \\u2192 use 70). Se nenhuma verba foi citada na conversa inteira, use 30 como padr\\u00e3o (R$ 30/dia, valor seguro m\\u00ednimo). NUNCA use o valor maior \\u2014 come\\u00e7amos com o piso pra n\\u00e3o comprometer verba do cliente.\\n\\nREGRAS ESPECIAIS (sempre aplique):\\n- objetivo_meta: SEMPRE \\\"OUTCOME_LEADS\\\". Todas as campanhas da Quirk Auto Ads s\\u00e3o de mensagem CTWA (Click-to-WhatsApp). Na API da Meta, isso usa objective OUTCOME_LEADS no n\\u00edvel da campanha, e CONVERSATIONS + WHATSAPP no n\\u00edvel do conjunto. O Extrator sempre devolve OUTCOME_LEADS aqui.\\n- publico_escolhido: deve coincidir com o NOME EXATO de um item da TABELA DE P\\u00daBLICOS abaixo. Se o agente nominou (ex: \\\"Pub Quirk 4\\\"), use literal. Se N\\u00c3O houver nome formal mas o cliente confirmou trilho + faixa de valor, deduza o p\\u00fablico mais adequado pela regra: alcance + ate_700k \\u2192 \\\"Pub Quirk 2\\\"; alcance + acima_1mi \\u2192 \\\"Pub Quirk 4\\\"; precisao + acima_1mi \\u2192 \\\"Pub Quirk 5\\\"; investidor \\u2192 \\\"Pub Quirk Invest\\\"; profiss\\u00e3o espec\\u00edfica \\u2192 \\\"Pub Quirk Profiss\\u00f5es\\\"; corretor \\u2192 \\\"Pub Corretores #1\\\". Em \\u00faltima inst\\u00e2ncia (sem dado), use \\\"Pub Quirk 0\\\".\\n- nome da campanha: extraia EXATAMENTE como o cliente definiu na conversa. N\\u00e3o reformule.\\n- copy: se a copy espec\\u00edfica n\\u00e3o foi escrita na conversa, monte uma descri\\u00e7\\u00e3o curta baseada no produto (tipo, regi\\u00e3o, valor, diferencial). N\\u00e3o deixe vazio.\\n- periodo: se n\\u00e3o foi definido, use \\\"15 dias\\\" como padr\\u00e3o Quirk.\\n\\nREGRA DE TARGETING_META (CR\\u00cdTICA):\\nO campo \\\"targeting_meta\\\" deve ser preenchido conforme a TABELA DE P\\u00daBLICOS abaixo, usando o valor de \\\"publico_escolhido\\\" como chave. Copie o objeto JSON da tabela EXATAMENTE como est\\u00e1, depois ajuste age_min/age_max e geo_locations se o cliente confirmou valores diferentes na conversa.\\n\\nSe o cliente mencionou cidade espec\\u00edfica (ex: \\\"Curitiba\\\", \\\"S\\u00e3o Paulo\\\"), substitua:\\n  \\\"geo_locations\\\": {\\\"countries\\\": [\\\"BR\\\"]}\\npor:\\n  \\\"geo_locations\\\": {\\\"cities\\\": [{\\\"name\\\": \\\"Curitiba, BR\\\"}]}\\n\\nSe o cliente mencionou raio (ex: \\\"30km da Gleba Palhano\\\"), adicione \\\"radius\\\": 30 e \\\"distance_unit\\\": \\\"kilometer\\\" dentro do objeto da cidade.\\n\\nREGRA CR\\u00cdTICA DE TIPOS NO JSON DE SA\\u00cdDA (sob pena de quebrar a campanha na Meta):\\n- Os campos num\\u00e9ricos do \\\"targeting_meta\\\" \\u2014 age_min, age_max \\u2014 DEVEM ser INTEIROS JSON (sem aspas, sem ponto, sem string). Exemplo V\\u00c1LIDO: \\\"age_min\\\":25 ; \\\"age_max\\\":60 . Exemplo INV\\u00c1LIDO: \\\"age_min\\\":\\\"25\\\" ; \\\"age_max\\\":null .\\n- O campo verba_diaria DEVE ser INTEIRO JSON. Exemplo V\\u00c1LIDO: \\\"verba_diaria\\\":30 . INV\\u00c1LIDO: \\\"verba_diaria\\\":\\\"30\\\" ou null.\\n- O campo valor_imovel DEVE ser INTEIRO JSON. Mesmas regras.\\n- Se algum desses campos n\\u00e3o puder ser deduzido, NUNCA devolva null \\u2014 use o valor padr\\u00e3o da tabela (age_min:25, age_max:60, verba_diaria:30, valor_imovel:0).\\n\\nREGRA CR\\u00cdTICA DE GEO_LOCATIONS:\\nO cliente DEVE ter informado uma cidade brasileira + raio em km. Extraia ambos pros campos:\\n- conjunto.geo (string descritiva: \\\"Goi\\u00e2nia, raio 15km\\\")\\n- conjunto.geo_cidade (nome literal da cidade)\\n- conjunto.geo_raio_km (inteiro)\\n\\nEm \\\"targeting_meta.geo_locations\\\", monte usando a TABELA DE CIDADES BR. Formato:\\n  \\\"geo_locations\\\": {\\\"cities\\\": [{\\\"key\\\": \\\"<KEY>\\\", \\\"radius\\\": <raio_km>, \\\"distance_unit\\\": \\\"kilometer\\\"}]}\\n\\nSe cidade n\\u00e3o na tabela, fallback: {\\\"countries\\\":[\\\"BR\\\"]} + alerta no campo \\\"alertas\\\".\\n\\nTABELA DE CIDADES BR \\u2014 nome \\u2192 key:\\n{\\\"S\\u00e3o Paulo\\\":\\\"269969\\\",\\\"Rio de Janeiro\\\":\\\"267027\\\",\\\"Bras\\u00edlia\\\":\\\"245683\\\",\\\"Belo Horizonte\\\":\\\"244661\\\",\\\"Salvador\\\":\\\"267730\\\",\\\"Fortaleza\\\":\\\"253370\\\",\\\"Curitiba\\\":\\\"250457\\\",\\\"Manaus\\\":\\\"259014\\\",\\\"Recife\\\":\\\"266284\\\",\\\"Goi\\u00e2nia\\\":\\\"254063\\\",\\\"Porto Alegre\\\":\\\"264859\\\",\\\"Bel\\u00e9m\\\":\\\"244580\\\",\\\"Guarulhos\\\":\\\"254529\\\",\\\"Campinas\\\":\\\"247071\\\",\\\"Macei\\u00f3\\\":\\\"258670\\\",\\\"Natal\\\":\\\"261132\\\",\\\"Florian\\u00f3polis\\\":\\\"253249\\\",\\\"Cuiab\\u00e1\\\":\\\"250332\\\",\\\"Jo\\u00e3o Pessoa\\\":\\\"256863\\\",\\\"Aracaju\\\":\\\"242415\\\",\\\"Teresina\\\":\\\"272278\\\",\\\"Campo Grande\\\":\\\"247184\\\",\\\"S\\u00e3o Lu\\u00eds\\\":\\\"269788\\\",\\\"Macap\\u00e1\\\":\\\"258622\\\",\\\"Vit\\u00f3ria\\\":\\\"274425\\\",\\\"Porto Velho\\\":\\\"265452\\\",\\\"Boa Vista\\\":\\\"245039\\\",\\\"Palmas\\\":\\\"262281\\\",\\\"Rio Branco\\\":\\\"2685122\\\",\\\"S\\u00e3o Jos\\u00e9 dos Campos\\\":\\\"269667\\\",\\\"Ribeir\\u00e3o Preto\\\":\\\"266876\\\",\\\"Sorocaba\\\":\\\"271407\\\",\\\"Santos\\\":\\\"268866\\\",\\\"Niter\\u00f3i\\\":\\\"261275\\\",\\\"Uberl\\u00e2ndia\\\":\\\"273173\\\",\\\"Londrina\\\":\\\"258404\\\",\\\"Joinville\\\":\\\"256952\\\",\\\"Caxias do Sul\\\":\\\"248639\\\",\\\"Aparecida de Goi\\u00e2nia\\\":\\\"2684750\\\",\\\"Feira de Santana\\\":\\\"252968\\\",\\\"S\\u00e3o Bernardo do Campo\\\":\\\"268965\\\",\\\"Santo Andr\\u00e9\\\":\\\"268652\\\",\\\"Osasco\\\":\\\"261985\\\",\\\"Guaruj\\u00e1\\\":\\\"254526\\\",\\\"Maring\\u00e1\\\":\\\"259493\\\",\\\"Pelotas\\\":\\\"263483\\\",\\\"Ponta Grossa\\\":\\\"264635\\\",\\\"An\\u00e1polis\\\":\\\"241991\\\",\\\"Bauru\\\":\\\"244454\\\",\\\"Piracicaba\\\":\\\"264046\\\",\\\"Limeira\\\":\\\"258269\\\",\\\"Foz do Igua\\u00e7u\\\":\\\"253418\\\",\\\"Caruaru\\\":\\\"248292\\\",\\\"Mossor\\u00f3\\\":\\\"260819\\\",\\\"Caucaia\\\":\\\"2784597\\\",\\\"Imperatriz\\\":\\\"255160\\\",\\\"Cama\\u00e7ari\\\":\\\"246867\\\",\\\"Vit\\u00f3ria da Conquista\\\":\\\"274411\\\",\\\"Paulista\\\":\\\"2781193\\\",\\\"Volta Redonda\\\":\\\"274483\\\",\\\"Petrolina\\\":\\\"263697\\\",\\\"Juazeiro do Norte\\\":\\\"257145\\\",\\\"Praia Grande\\\":\\\"2695717\\\",\\\"S\\u00e3o Vicente\\\":\\\"270299\\\",\\\"Itaquaquecetuba\\\":\\\"255914\\\",\\\"Mogi das Cruzes\\\":\\\"260332\\\",\\\"Diadema\\\":\\\"250771\\\",\\\"Suzano\\\":\\\"271555\\\",\\\"Itu\\\":\\\"256029\\\",\\\"Indaiatuba\\\":\\\"255192\\\",\\\"Jundia\\u00ed\\\":\\\"257242\\\",\\\"Americana\\\":\\\"241913\\\",\\\"S\\u00e3o Carlos\\\":\\\"269036\\\",\\\"Mar\\u00edlia\\\":\\\"259475\\\",\\\"Presidente Prudente\\\":\\\"265708\\\",\\\"Araraquara\\\":\\\"242546\\\",\\\"Mau\\u00e1\\\":\\\"259874\\\",\\\"Carapicu\\u00edba\\\":\\\"248018\\\",\\\"Embu das Artes\\\":\\\"251125\\\",\\\"Taubat\\u00e9\\\":\\\"272181\\\",\\\"Jacare\\u00ed\\\":\\\"256166\\\",\\\"Campos dos Goytacazes\\\":\\\"2684440\\\",\\\"Petr\\u00f3polis\\\":\\\"263698\\\",\\\"Cabo Frio\\\":\\\"246197\\\",\\\"Maca\\u00e9\\\":\\\"258596\\\",\\\"Nova Igua\\u00e7u\\\":\\\"261435\\\",\\\"S\\u00e3o Gon\\u00e7alo\\\":\\\"269263\\\",\\\"Duque de Caxias\\\":\\\"2776811\\\",\\\"Belford Roxo\\\":\\\"244612\\\",\\\"Sorriso\\\":\\\"2684469\\\",\\\"Sinop\\\":\\\"2684461\\\",\\\"Rondon\\u00f3polis\\\":\\\"267336\\\",\\\"V\\u00e1rzea Grande\\\":\\\"273711\\\",\\\"Chapec\\u00f3\\\":\\\"248896\\\",\\\"Blumenau\\\":\\\"244887\\\",\\\"Itaja\\u00ed\\\":\\\"255675\\\",\\\"S\\u00e3o Jos\\u00e9\\\":\\\"2775570\\\",\\\"Crici\\u00fama\\\":\\\"250158\\\"}\\n\\nTABELA DE P\\u00daBLICOS \\u2014 VERS\\u00c3O COM IDs REAIS DA META (use como refer\\u00eancia absoluta \\u2014 n\\u00e3o invente fora dela):\\n\\nNOTA T\\u00c9CNICA: cada interest/behavior/work_position tem ID num\\u00e9rico real obtido via Graph API. Pub Quirk 0 e Pub Quirk 1 ficam broad (n\\u00e3o h\\u00e1 IDs confi\\u00e1veis pra \\\"viajantes frequentes em geral\\\" no cat\\u00e1logo Meta \\u2014 o nome retorna sempre marcas espec\\u00edficas). Os demais Pub Quirk usam targeting refinado com IDs reais:\\n\\n[Pub Quirk 0]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"targeting_automation\\\":{\\\"advantage_audience\\\":1}}\\n\\n[Pub Quirk 1]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.1]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003077334693\\\",\\\"name\\\":\\\"Condom\\u00ednio fechado\\\"},{\\\"id\\\":\\\"6003382467537\\\",\\\"name\\\":\\\"Casa unifamiliar\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.2]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"},{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6003077334693\\\",\\\"name\\\":\\\"Condom\\u00ednio fechado\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.3]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6002965402168\\\",\\\"name\\\":\\\"OLX Brasil\\\"},{\\\"id\\\":\\\"6014552641654\\\",\\\"name\\\":\\\"Zap Im\\u00f3veis\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.4]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003077334693\\\",\\\"name\\\":\\\"Condom\\u00ednio fechado\\\"},{\\\"id\\\":\\\"6002965402168\\\",\\\"name\\\":\\\"OLX Brasil\\\"},{\\\"id\\\":\\\"6014552641654\\\",\\\"name\\\":\\\"Zap Im\\u00f3veis\\\"},{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.5]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003332796032\\\",\\\"name\\\":\\\"Desenvolvimento imobili\\u00e1rio\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 2]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6002979192120\\\",\\\"name\\\":\\\"Real Estate\\\"},{\\\"id\\\":\\\"6003392721577\\\",\\\"name\\\":\\\"Investment\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 3]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 4]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]},{\\\"behaviors\\\":[{\\\"id\\\":\\\"6002714895372\\\",\\\"name\\\":\\\"Viajantes frequentes\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 5]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]},{\\\"behaviors\\\":[{\\\"id\\\":\\\"6002714895372\\\",\\\"name\\\":\\\"Viajantes frequentes\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 6]\\n{\\\"geo_locations\\\":{\\\"cities\\\":[{\\\"name\\\":\\\"S\\u00e3o Paulo, BR\\\"},{\\\"name\\\":\\\"Rio de Janeiro, BR\\\"},{\\\"name\\\":\\\"Bras\\u00edlia, BR\\\"},{\\\"name\\\":\\\"Belo Horizonte, BR\\\"},{\\\"name\\\":\\\"Curitiba, BR\\\"},{\\\"name\\\":\\\"Porto Alegre, BR\\\"}]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 7]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]},{\\\"interests\\\":[{\\\"id\\\":\\\"6003221189867\\\",\\\"name\\\":\\\"Piscina\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Invest]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003392721577\\\",\\\"name\\\":\\\"Investment\\\"},{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6003287729076\\\",\\\"name\\\":\\\"Renda passiva\\\"},{\\\"id\\\":\\\"6003143720966\\\",\\\"name\\\":\\\"Finan\\u00e7as pessoais\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Invest + Intermedi\\u00e1rio]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003392721577\\\",\\\"name\\\":\\\"Investment\\\"},{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6003143720966\\\",\\\"name\\\":\\\"Finan\\u00e7as pessoais\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Invest + Alto valor]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6003392721577\\\",\\\"name\\\":\\\"Investment\\\"}]},{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Profiss\\u00f5es]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"work_positions\\\":[{\\\"id\\\":\\\"112696438745118\\\",\\\"name\\\":\\\"Lawyer\\\"},{\\\"id\\\":\\\"108768179146852\\\",\\\"name\\\":\\\"Dentist\\\"},{\\\"id\\\":\\\"106215529409578\\\",\\\"name\\\":\\\"Judge\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Profiss\\u00f5es + Intermedi\\u00e1rio]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"work_positions\\\":[{\\\"id\\\":\\\"112696438745118\\\",\\\"name\\\":\\\"Lawyer\\\"},{\\\"id\\\":\\\"108768179146852\\\",\\\"name\\\":\\\"Dentist\\\"},{\\\"id\\\":\\\"403013926540061\\\",\\\"name\\\":\\\"Resident Physician\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Profiss\\u00f5es + Alto valor]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"work_positions\\\":[{\\\"id\\\":\\\"112696438745118\\\",\\\"name\\\":\\\"Lawyer\\\"},{\\\"id\\\":\\\"106215529409578\\\",\\\"name\\\":\\\"Judge\\\"}]},{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Corretores #1]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6002979192120\\\",\\\"name\\\":\\\"Real Estate\\\"},{\\\"id\\\":\\\"6778210171187\\\",\\\"name\\\":\\\"Corretagem de im\\u00f3veis\\\"}],\\\"work_positions\\\":[{\\\"id\\\":\\\"171815889531702\\\",\\\"name\\\":\\\"Real Estate Agent\\\"},{\\\"id\\\":\\\"111867022164671\\\",\\\"name\\\":\\\"Real estate broker\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Corretores #2]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6002979192120\\\",\\\"name\\\":\\\"Real Estate\\\"},{\\\"id\\\":\\\"6778210171187\\\",\\\"name\\\":\\\"Corretagem de im\\u00f3veis\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Corretores #3]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"work_positions\\\":[{\\\"id\\\":\\\"171815889531702\\\",\\\"name\\\":\\\"Real Estate Agent\\\"},{\\\"id\\\":\\\"111867022164671\\\",\\\"name\\\":\\\"Real estate broker\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\nESTRUTURA DO JSON (responda exatamente neste formato, preenchido):\\n{\\n  \\\"objetivo\\\": \\\"moradia ou veraneio ou investimento\\\",\\n  \\\"faixa_valor\\\": \\\"ate_700k ou 700k_1mi ou acima_1mi ou investidor\\\",\\n  \\\"trilho_escolhido\\\": \\\"alcance ou precisao\\\",\\n  \\\"publico_escolhido\\\": \\\"nome literal de um item da TABELA acima\\\",\\n  \\\"campanha\\\": {\\n    \\\"nome\\\": \\\"exatamente como o cliente definiu\\\",\\n    \\\"objetivo_meta\\\": \\\"OUTCOME_LEADS\\\",\\n    \\\"verba_diaria\\\": 0,\\n    \\\"periodo\\\": \\\"per\\u00edodo acordado ou 15 dias se n\\u00e3o definido\\\"\\n  },\\n  \\\"conjunto\\\": {\\n    \\\"idade_min\\\": 25,\\n    \\\"idade_max\\\": 60,\\n    \\\"geo\\\": \\\"cidade, bairro ou regi\\u00e3o do im\\u00f3vel\\\",\\n    \\\"limitar\\\": true\\n  },\\n  \\\"anuncio\\\": {\\n    \\\"tipo_imovel\\\": \\\"casa ou apartamento ou sobrado ou lote etc\\\",\\n    \\\"valor_imovel\\\": 0,\\n    \\\"copy\\\": \\\"descri\\u00e7\\u00e3o curta do produto - tipo, regi\\u00e3o, valor, diferencial (NUNCA vazio)\\\"\\n  },\\n  \\\"targeting_meta\\\": {}\\n}\\n\\nREGRA FINAL:\\n- \\\"targeting_meta\\\" deve ser preenchido com o OBJETO da TABELA correspondente ao \\\"publico_escolhido\\\".\\n- Se houver ajustes do cliente (idade, geo), aplique sobre o objeto base ANTES de colocar no JSON.\\n- Se \\\"publico_escolhido\\\" n\\u00e3o bater com nenhum item da TABELA, use o objeto de [Pub Quirk 0] e marque \\\"publico_escolhido\\\" como \\\"Pub Quirk 0\\\".\\n\\nResponda SOMENTE com o JSON preenchido, mais nada.\";\nconst userContent = String($('build_historico').first().json.historico_atualizado || \"\");\n\nreturn [{\n  json: {\n    model: \"claude-sonnet-4-5\",\n    max_tokens: 3000,\n    temperature: 0,\n    system,\n    messages: [{ role: \"user\", content: userContent }]\n  }\n}];\n"
      }
    },
    {
      "id": "extrator",
      "name": "extrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        50
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Hr9Eb7pGMXTH9hD5",
          "name": "Quirk Anthropic Header"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "respond_immediate",
            "type": "main",
            "index": 0
          },
          {
            "node": "switch_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_type": {
      "main": [
        [
          {
            "node": "normalize_phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "media_normalize_phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_phone": {
      "main": [
        [
          {
            "node": "select_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_cliente": {
      "main": [
        [
          {
            "node": "if_cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_cadastrado": {
      "main": [
        [
          {
            "node": "select_conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_nao_cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_conversa": {
      "main": [
        [
          {
            "node": "build_agente_body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_principal": {
      "main": [
        [
          {
            "node": "build_classifier_body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classifier": {
      "main": [
        [
          {
            "node": "build_historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_historico": {
      "main": [
        [
          {
            "node": "upsert_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert_conversa": {
      "main": [
        [
          {
            "node": "send_resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_resposta": {
      "main": [
        [
          {
            "node": "if_confirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_confirmado": {
      "main": [
        [
          {
            "node": "build_extrator_body",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "extrator": {
      "main": [
        [
          {
            "node": "parse_extrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_extrator": {
      "main": [
        [
          {
            "node": "validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate": {
      "main": [
        [
          {
            "node": "if_valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_valid": {
      "main": [
        [
          {
            "node": "load_meta_token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "audit_validacao_falhou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta_d1_campaign": {
      "main": [
        [
          {
            "node": "meta_d2_adset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta_d2_adset": {
      "main": [
        [
          {
            "node": "meta_d3_creative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta_d3_creative": {
      "main": [
        [
          {
            "node": "meta_d4_ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta_d4_ad": {
      "main": [
        [
          {
            "node": "insert_campanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_campanha": {
      "main": [
        [
          {
            "node": "audit_campanha_criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audit_campanha_criada": {
      "main": [
        [
          {
            "node": "send_confirmacao_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_normalize_phone": {
      "main": [
        [
          {
            "node": "media_select_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_select_cliente": {
      "main": [
        [
          {
            "node": "media_if_cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_if_cadastrado": {
      "main": [
        [
          {
            "node": "media_download",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "media_download": {
      "main": [
        [
          {
            "node": "media_upsert_criativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_upsert_criativo": {
      "main": [
        [
          {
            "node": "media_send_confirma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "load_meta_token": {
      "main": [
        [
          {
            "node": "meta_d1_campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_agente_body": {
      "main": [
        [
          {
            "node": "agente_principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_classifier_body": {
      "main": [
        [
          {
            "node": "classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_extrator_body": {
      "main": [
        [
          {
            "node": "extrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "872a22ab-ee54-40a8-b0b1-1e5cd01d3e17",
  "activeVersionId": "872a22ab-ee54-40a8-b0b1-1e5cd01d3e17",
  "versionCounter": 36,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-29T00:50:42.738Z",
      "createdAt": "2026-05-29T00:50:42.738Z",
      "role": "workflow:owner",
      "workflowId": "fBUin1UPt5xJEp6g",
      "projectId": "aVAZ6FhZZRIaJWwx",
      "project": {
        "updatedAt": "2025-06-24T02:20:51.472Z",
        "createdAt": "2025-06-24T01:19:43.055Z",
        "id": "aVAZ6FhZZRIaJWwx",
        "name": "Renan Real <contato@quirkgrowth.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b66f7878-8a71-4e1a-a4a4-d4dc57536429",
        "projectRelations": [
          {
            "updatedAt": "2025-06-24T01:19:43.055Z",
            "createdAt": "2025-06-24T01:19:43.055Z",
            "userId": "b66f7878-8a71-4e1a-a4a4-d4dc57536429",
            "projectId": "aVAZ6FhZZRIaJWwx",
            "user": {
              "updatedAt": "2026-05-28T20:55:37.000Z",
              "createdAt": "2025-06-24T01:19:42.692Z",
              "id": "b66f7878-8a71-4e1a-a4a4-d4dc57536429",
              "email": "contato@quirkgrowth.com.br",
              "firstName": "Renan",
              "lastName": "Real",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-24T02:18:18.610Z",
                "personalization_survey_n8n_version": "1.99.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "7CKx0VUfm7PnkAUM",
                "userActivatedAt": 1750822292593,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1779563837984
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-29T01:12:45.196Z",
    "createdAt": "2026-05-29T01:12:45.196Z",
    "versionId": "872a22ab-ee54-40a8-b0b1-1e5cd01d3e17",
    "workflowId": "fBUin1UPt5xJEp6g",
    "nodes": [
      {
        "id": "webhook",
        "name": "webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "quirk-auto-ads",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "quirk-auto-ads"
      },
      {
        "id": "respond_immediate",
        "name": "respond_immediate",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          460,
          460
        ],
        "parameters": {
          "respondWith": "text",
          "responseBody": "ok",
          "options": {}
        }
      },
      {
        "id": "switch_type",
        "name": "switch_type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          460,
          200
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.message.type }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.message.type }}",
                      "rightValue": "media",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "media"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "normalize_phone",
        "name": "normalize_phone",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          200
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Extrai telefone do payload UAZAPI e normaliza (só dígitos)\nconst body = $input.first().json.body || {};\nconst raw = body.chat?.phone || body.message?.sender_pn?.split('@')[0] || body.message?.from || '';\nconst normalized = String(raw).replace(/[+\\s\\-@]/g, '').replace(/s.whatsapp.net.*$/, '');\nreturn [{\n  json: {\n    ...$input.first().json,\n    telefone_normalizado: normalized,\n    mensagem_texto: body.message?.text || body.chat?.wa_lastMessageTextVote || ''\n  }\n}];"
        }
      },
      {
        "id": "select_cliente",
        "name": "select_cliente",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          900,
          200
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM auto_ads.clientes WHERE telefone = $1 LIMIT 1",
          "options": {
            "queryReplacement": "={{ $json.telefone_normalizado }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "if_cadastrado",
        "name": "if_cadastrado",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1120,
          200
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.telefone }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "send_nao_cadastrado",
        "name": "send_nao_cadastrado",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1340,
          360
        ],
        "parameters": {
          "method": "POST",
          "url": "https://quirkgrowth.uazapi.com/send/text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('normalize_phone').item.json.telefone_normalizado }}"
              },
              {
                "name": "text",
                "value": "Olá! Esse número ainda não está cadastrado na Quirk Auto Ads. Entre em contato com a equipe pra ativar seu acesso."
              }
            ]
          },
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "CGuMGDKk5aSWIYFS",
            "name": "Quirk UAZAPI Header"
          }
        }
      },
      {
        "id": "select_conversa",
        "name": "select_conversa",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1340,
          100
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM auto_ads.conversas WHERE telefone = $1 LIMIT 1",
          "options": {
            "queryReplacement": "={{ $('normalize_phone').item.json.telefone_normalizado }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "build_historico",
        "name": "build_historico",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2300,
          100
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const histAtual = $('select_conversa').first().json.historico || '';\nconst userMsg = $('normalize_phone').first().json.mensagem_texto || '';\nconst agentResp = $('agente_principal').first().json.message?.content?.[0]?.text\n                 || $('agente_principal').first().json.content?.[0]?.text\n                 || '';\nconst classResp = ($('classifier').first().json.message?.content?.[0]?.text\n                 || $('classifier').first().json.content?.[0]?.text\n                 || 'PENDENTE').trim();\n\nconst novoTurn = `|||TURN|||Cliente: ${userMsg}\\nClaude: ${agentResp}`;\nconst completo = histAtual + novoTurn;\n// Trunca em últimos 20 turnos\nconst turns = completo.split('|||TURN|||');\nconst ultimos20 = turns.slice(-20).join('|||TURN|||');\n\nreturn [{\n  json: {\n    historico_atualizado: ultimos20,\n    classifier_result: classResp,\n    agente_resposta: agentResp,\n    telefone: $('normalize_phone').first().json.telefone_normalizado\n  }\n}];"
        }
      },
      {
        "id": "upsert_conversa",
        "name": "upsert_conversa",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2500,
          100
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO auto_ads.conversas (telefone, historico)\nVALUES ($1, $2)\nON CONFLICT (telefone) DO UPDATE\n  SET historico = EXCLUDED.historico,\n      ultima_atualizacao = NOW()",
          "options": {
            "queryReplacement": "={{ $json.telefone }},{{ $json.historico_atualizado }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "send_resposta",
        "name": "send_resposta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2700,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://quirkgrowth.uazapi.com/send/text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('build_historico').item.json.telefone }}"
              },
              {
                "name": "text",
                "value": "={{ $('build_historico').item.json.agente_resposta }}"
              }
            ]
          },
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "CGuMGDKk5aSWIYFS",
            "name": "Quirk UAZAPI Header"
          }
        }
      },
      {
        "id": "if_confirmado",
        "name": "if_confirmado",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2900,
          100
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $('build_historico').item.json.classifier_result.toUpperCase() }}",
                "rightValue": "CONFIRMADO",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "parse_extrator",
        "name": "parse_extrator",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3280,
          50
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "// Extrai JSON da resposta do extrator (pode vir embrulhado em markdown ```json...```)\nconst raw = $('extrator').first().json.message?.content?.[0]?.text\n         || $('extrator').first().json.content?.[0]?.text\n         || '';\n\nlet cleaned = raw.trim();\n// Remove blocos de código markdown\ncleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/, '').trim();\n// Procura primeiro { e último } pra ser tolerante\nconst firstBrace = cleaned.indexOf('{');\nconst lastBrace = cleaned.lastIndexOf('}');\nif (firstBrace >= 0 && lastBrace > firstBrace) {\n  cleaned = cleaned.substring(firstBrace, lastBrace + 1);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{json: {parse_error: e.message, raw: raw.substring(0, 500), json_extrator: null}}];\n}\n\nreturn [{json: {json_extrator: parsed, parse_ok: true}}];"
        }
      },
      {
        "id": "validate",
        "name": "validate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3480,
          50
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const cliente = $('select_cliente').first().json;\nconst conversa = $('select_conversa').first().json;\nconst json = $('parse_extrator').first().json.json_extrator;\nconst errors = [];\n\nif (!json) {\n  errors.push('json_extrator é null (parse falhou)');\n  return [{json: {ok: false, motivos: errors}}];\n}\n\nconst verba = parseInt(json.campanha?.verba_diaria);\nif (isNaN(verba) || verba < 10) errors.push('verba_diaria < 10');\nif (verba > 100) errors.push('verba_diaria > 100');\nif (!json.campanha?.objetivo_meta) errors.push('objetivo_meta vazio');\nif (!json.conjunto?.geo) errors.push('geo vazio');\nif (!json.publico_escolhido) errors.push('publico_escolhido vazio');\nif (!conversa?.criativo_url) errors.push('criativo_url vazio');\nif (!cliente?.ad_account_id) errors.push('ad_account_id vazio');\nif (!json.targeting_meta) errors.push('targeting_meta vazio');\nif (!json.targeting_meta?.geo_locations) errors.push('geo_locations vazio');\n\nreturn [{\n  json: {\n    ok: errors.length === 0,\n    motivos: errors,\n    json_extrator: json,\n    cliente,\n    conversa,\n    verba_em_centavos: Math.max(verba * 100, 1000)\n  }\n}];"
        }
      },
      {
        "id": "if_valid",
        "name": "if_valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3680,
          50
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "audit_validacao_falhou",
        "name": "audit_validacao_falhou",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3880,
          200
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO auto_ads.audit_log (telefone, evento, detalhes) VALUES ($1, 'erro_validacao', $2)",
          "options": {
            "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ JSON.stringify({motivos: $('validate').item.json.motivos, json: $('validate').item.json.json_extrator}) }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "meta_d1_campaign",
        "name": "meta_d1_campaign",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4080,
          -100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/campaigns' }}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"objective\": \"OUTCOME_LEADS\",\n  \"status\": \"PAUSED\",\n  \"special_ad_categories\": [],\n  \"is_adset_budget_sharing_enabled\": false,\n  \"access_token\": \"{{ $('load_meta_token').item.json.valor }}\"\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": false,
                "responseFormat": "json"
              }
            }
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "continueOnFail": true
      },
      {
        "id": "meta_d2_adset",
        "name": "meta_d2_adset",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4280,
          -100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/adsets' }}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.publico_escolhido }}\",\n  \"campaign_id\": \"{{ $('meta_d1_campaign').item.json.id }}\",\n  \"daily_budget\": {{ $('validate').item.json.verba_em_centavos }},\n  \"billing_event\": \"IMPRESSIONS\",\n  \"optimization_goal\": \"CONVERSATIONS\",\n  \"destination_type\": \"WHATSAPP\",\n  \"promoted_object\": {\"page_id\": \"{{ $('validate').item.json.cliente.page_id }}\"},\n  \"bid_strategy\": \"LOWEST_COST_WITHOUT_CAP\",\n  \"targeting\": {{ JSON.stringify($('validate').item.json.json_extrator.targeting_meta) }},\n  \"status\": \"PAUSED\",\n  \"access_token\": \"{{ $('load_meta_token').item.json.valor }}\"\n}",
          "options": {}
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "continueOnFail": true
      },
      {
        "id": "meta_d3_creative",
        "name": "meta_d3_creative",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4480,
          -100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/adcreatives' }}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"object_story_spec\": {\n    \"page_id\": \"{{ $('validate').item.json.cliente.page_id }}\",\n    \"link_data\": {\n      \"message\": \"{{ $('validate').item.json.json_extrator.anuncio.copy }}\",\n      \"picture\": \"{{ ($('validate').item.json.conversa.criativo_url || '').trim().split('\\n').filter(u => u).slice(-1)[0] }}\",\n      \"link\": \"{{ $('validate').item.json.cliente.wa_link }}\",\n      \"call_to_action\": {\n        \"type\": \"WHATSAPP_MESSAGE\",\n        \"value\": {\"app_destination\": \"WHATSAPP\"}\n      }\n    }\n  },\n  \"access_token\": \"{{ $('load_meta_token').item.json.valor }}\"\n}",
          "options": {}
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "continueOnFail": true
      },
      {
        "id": "meta_d4_ad",
        "name": "meta_d4_ad",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4680,
          -100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/ads' }}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"adset_id\": \"{{ $('meta_d2_adset').item.json.id }}\",\n  \"creative\": {\"creative_id\": \"{{ $('meta_d3_creative').item.json.id }}\"},\n  \"status\": \"PAUSED\",\n  \"access_token\": \"{{ $('load_meta_token').item.json.valor }}\"\n}",
          "options": {}
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "continueOnFail": true
      },
      {
        "id": "insert_campanha",
        "name": "insert_campanha",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4880,
          -100
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO auto_ads.campanhas\n(telefone, nome_campanha, ad_account_id, campaign_id, adset_id, creative_id, ad_id, status, json_extrator)\nVALUES ($1, $2, $3, $4, $5, $6, $7, 'PAUSED', $8::jsonb)",
          "options": {
            "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ $('validate').item.json.json_extrator.campanha.nome }},{{ $('validate').item.json.cliente.ad_account_id }},{{ $('meta_d1_campaign').item.json.id }},{{ $('meta_d2_adset').item.json.id }},{{ $('meta_d3_creative').item.json.id }},{{ $('meta_d4_ad').item.json.id }},{{ JSON.stringify($('validate').item.json.json_extrator) }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "audit_campanha_criada",
        "name": "audit_campanha_criada",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          5080,
          -100
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO auto_ads.audit_log (telefone, evento, detalhes) VALUES ($1, 'campanha_criada', $2::jsonb)",
          "options": {
            "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ JSON.stringify({campaign_id: $('meta_d1_campaign').item.json.id, adset_id: $('meta_d2_adset').item.json.id, creative_id: $('meta_d3_creative').item.json.id, ad_id: $('meta_d4_ad').item.json.id, nome: $('validate').item.json.json_extrator.campanha.nome}) }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "send_confirmacao_cliente",
        "name": "send_confirmacao_cliente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5280,
          -100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://quirkgrowth.uazapi.com/send/text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('build_historico').item.json.telefone }}"
              },
              {
                "name": "text",
                "value": "=Campanha *{{ $('validate').item.json.json_extrator.campanha.nome }}* criada em PAUSED no Ads Manager. Revise por lá pra ativar."
              }
            ]
          },
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "CGuMGDKk5aSWIYFS",
            "name": "Quirk UAZAPI Header"
          }
        }
      },
      {
        "id": "media_normalize_phone",
        "name": "media_normalize_phone",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          500
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const body = $input.first().json.body || {};\nconst raw = body.chat?.phone || body.message?.sender_pn?.split('@')[0] || body.message?.from || '';\nconst normalized = String(raw).replace(/[+\\s\\-@]/g, '').replace(/s.whatsapp.net.*$/, '');\nreturn [{\n  json: {\n    ...$input.first().json,\n    telefone_normalizado: normalized,\n    message_id: body.message?.id || ''\n  }\n}];"
        }
      },
      {
        "id": "media_select_cliente",
        "name": "media_select_cliente",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          900,
          500
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM auto_ads.clientes WHERE telefone = $1 LIMIT 1",
          "options": {
            "queryReplacement": "={{ $json.telefone_normalizado }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "media_if_cadastrado",
        "name": "media_if_cadastrado",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1120,
          500
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.telefone }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "media_download",
        "name": "media_download",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1340,
          460
        ],
        "parameters": {
          "method": "POST",
          "url": "https://quirkgrowth.uazapi.com/message/download",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ $('media_normalize_phone').item.json.message_id }}"
              }
            ]
          },
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 1000,
        "continueOnFail": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "CGuMGDKk5aSWIYFS",
            "name": "Quirk UAZAPI Header"
          }
        }
      },
      {
        "id": "media_upsert_criativo",
        "name": "media_upsert_criativo",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1560,
          460
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO auto_ads.conversas (telefone, criativo_url, historico)\nVALUES ($1, $2 || E'\\n', '|||TURN|||[Sistema: criativo recebido em ' || NOW()::TEXT || ']')\nON CONFLICT (telefone) DO UPDATE\n  SET criativo_url = COALESCE(auto_ads.conversas.criativo_url, '') || EXCLUDED.criativo_url,\n      historico = COALESCE(auto_ads.conversas.historico, '') || EXCLUDED.historico,\n      ultima_atualizacao = NOW()",
          "options": {
            "queryReplacement": "={{ $('media_normalize_phone').item.json.telefone_normalizado }},{{ $('media_download').item.json.data?.fileURL || $('media_download').item.json.fileURL || '' }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "media_send_confirma",
        "name": "media_send_confirma",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          460
        ],
        "parameters": {
          "method": "POST",
          "url": "https://quirkgrowth.uazapi.com/send/text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('media_normalize_phone').item.json.telefone_normalizado }}"
              },
              {
                "name": "text",
                "value": "Recebi seu criativo! Vou usar nessa campanha quando você confirmar."
              }
            ]
          },
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "CGuMGDKk5aSWIYFS",
            "name": "Quirk UAZAPI Header"
          }
        }
      },
      {
        "id": "load_meta_token",
        "name": "load_meta_token",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3880,
          -100
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT valor FROM auto_ads.config WHERE chave = 'meta_access_token' LIMIT 1",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "NKHJwhesMp2Bo4Xw",
            "name": "Quirk Auto Ads Postgres"
          }
        }
      },
      {
        "id": "build_agente_body",
        "name": "build_agente_body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          100
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const system = \"PROMPT-MESTRE \\u2014 TEXTO BASE COMPLETO (v3.3)\\n \\nBloco 1 \\u2014 Identidade e papel\\nVoc\\u00ea \\u00e9 o GESTOR DE TR\\u00c1FEGO S\\u00caNIOR da Quirk Growth, ag\\u00eancia especializada em marketing imobili\\u00e1rio de alta performance. Dom\\u00ednio absoluto de Meta Ads aplicado a incorporadoras, construtoras, imobili\\u00e1rias e corretores. Voc\\u00ea pensa como estrategista, n\\u00e3o como operador de bot\\u00e3o.\\nTom: direto, t\\u00e9cnico, objetivo. Voc\\u00ea fala POUCO e certo \\u2014 mensagens curtas, sem explica\\u00e7\\u00f5es longas. Concis\\u00e3o acima de volume. S\\u00f3 elabora ou explica um t\\u00f3pico quando o cliente PEDE esclarecimento ou ajuda. Sem pedido, v\\u00e1 direto ao ponto.\\n\\nFOCO \\u00daNICO: toda campanha criada pela automa\\u00e7\\u00e3o Quirk Auto Ads \\u00e9 de MENSAGEM no WhatsApp (Click-to-WhatsApp). NUNCA mencione formul\\u00e1rio, full form, lead form, campanha de cadastro, formul\\u00e1rio instant\\u00e2neo, ou qualquer destino alternativo. Mensagem \\u00e9 o \\u00fanico caminho.\\n \\nBloco 2 \\u2014 Miss\\u00e3o e princ\\u00edpios\\nMiss\\u00e3o: transformar o briefing informal do WhatsApp em estrutura de campanha tecnicamente correta, segura e alinhada \\u00e0 Quirk.\\nPrinc\\u00edpios inegoci\\u00e1veis:\\n- Seja conciso. Pe\\u00e7a os dados de forma direta. N\\u00e3o explique o que n\\u00e3o foi perguntado.\\n- Mensagem antes do canal. Posicionamento antes de volume.\\n- Mais lead sem estrutura \\u00e9 mais problema, n\\u00e3o mais venda.\\n- Voc\\u00ea nunca adivinha. Falta dado? Pergunta \\u2014 de forma curta.\\n- Toda varia\\u00e7\\u00e3o de p\\u00fablico \\u00e9 SUGERIDA e CONFIRMADA. Nada sobe sem \\\"sim\\\" expl\\u00edcito do cliente.\\n- O cliente escolhe o TRILHO (mais alcance ou mais precis\\u00e3o); a Quirk garante o piso de qualifica\\u00e7\\u00e3o em AMBOS.\\n- Verba: voc\\u00ea SUGERE faixa, o cliente decide o valor final.\\n- O criativo (imagem ou v\\u00eddeo) \\u00e9 sempre fornecido pelo cliente, pronto. A Quirk N\\u00c3O cria criativos. Se n\\u00e3o veio, pe\\u00e7a.\\n \\nBloco 3 \\u2014 Base de conhecimento (matriz Quirk)\\nIMPORTANTE: Esta base \\u00e9 para o SEU racioc\\u00ednio interno. NUNCA liste o cat\\u00e1logo de p\\u00fablicos para o cliente. Sugira apenas o p\\u00fablico recomendado, de forma breve. S\\u00f3 detalhe op\\u00e7\\u00f5es se o cliente pedir.\\n \\n3.1 \\u2014 Regra mestra: a faixa de valor governa o p\\u00fablico\\nEsta \\u00e9 a primeira decis\\u00e3o e \\u00e9 regra dura, n\\u00e3o sugest\\u00e3o:\\n- Im\\u00f3vel at\\u00e9 R$ 700 mil \\u2192 P\\u00fablico base: Pub Quirk 2 (interesses m\\u00e9dio/alto).\\n- Im\\u00f3vel de R$ 700 mil a R$ 1 mi \\u2192 P\\u00fablico base: Pub Quirk 3 (high ticket).\\n- Im\\u00f3vel de R$ 1 mi pra cima \\u2192 P\\u00fablico base: Pub Quirk 4, 5 ou 6 (high ticket + dispositivo + capitais).\\n- Investidor (qualquer valor) \\u2192 P\\u00fablico base: Pub Quirk Invest (+ camada intermedi\\u00e1rio/alto valor).\\n \\n3.2 \\u2014 Cat\\u00e1logo de p\\u00fablicos (uso interno \\u2014 n\\u00e3o mostrar ao cliente)\\nIdade padr\\u00e3o de todos: 25 a 60 anos. P\\u00fablicos marcados (LIMITAR) usam segmenta\\u00e7\\u00e3o restrita por interesse.\\n[Pub Quirk 0] Aberto \\u2014 25-60. P\\u00fablico amplo, todas as campanhas s\\u00e3o de MENSAGEM (CTWA). Use quando a base estiver pequena (vermelho).\\n[Pub Quirk 1] Viajantes frequentes 25-60.\\n  1.1 viajantes freq. + condom\\u00ednios/casa em condom\\u00ednio + iphone\\n  1.2 comprador alto valor + condom\\u00ednios + invest. imob. + iphone\\n  1.3 condom\\u00ednios + invest. imob. + portais/OLX/zap + iphone\\n  1.4 condom\\u00ednios + portais + invest. imobili\\u00e1rio\\n  1.5 viajantes frequentes + construtoras\\n[Pub Quirk 2] (LIMITAR, at\\u00e9 700mil) viajantes freq. + produtos m\\u00e9dio/alto Brasil\\n[Pub Quirk 3] (LIMITAR, 700mil+) viajantes internacionais + produtos alto valor Brasil\\n[Pub Quirk 4/5] (LIMITAR, 1mi+) viaj. internac. + viaj. freq. + alto valor (+ iphone 13+/iPad Pro no 5)\\n[Pub Quirk 6] = 5 + capitais brasileiras\\n[Pub Quirk 7] = 6 + interesses do nicho do cliente (lancha/golfe/piscina/helic\\u00f3ptero)\\n[Pub Quirk Invest] mercado financeiro, renda passiva, investimento imobili\\u00e1rio, investidor, ROI (+ Intermedi\\u00e1rio / + Alto valor)\\n[Pub Quirk Profiss\\u00f5es] m\\u00e9dicos, ju\\u00edzes, advogados s\\u00f3cios, servidor p\\u00fablico, dentistas (+ Interm. / + Alto valor)\\n[Pub Corretores] #1 completo | #2 intermedi\\u00e1rio | #3 s\\u00f3 cargo de corretor\\n \\n3.3 \\u2014 Configura\\u00e7\\u00f5es t\\u00e9cnicas fixas\\nFacebook: SEMPRE desativar Marketplace e Notifica\\u00e7\\u00f5es.\\nFrequ\\u00eancia alta no topo de funil: aplicar exclus\\u00e3o V\\u00eddeo View 25% 14D e/ou Engajamento 14D-30D.\\nBase pequena: abaixo de 100 mil = alerta amarelo; abaixo de 50 mil = alerta vermelho. Quanto menor a fatia, mais abrir as configura\\u00e7\\u00f5es (reduzir limita\\u00e7\\u00f5es, ampliar geo, partir para Pub 0).\\n \\n3.4 \\u2014 Esqueletos de copy por objetivo\\nMORADIA: 1.Tipo de im\\u00f3vel 2.Regi\\u00e3o (bairro exato) 3.C\\u00f4modos 4.Pre\\u00e7o/fluxo 5.CTA\\nVERANEIO+INVEST.: 1.Invista/more + regi\\u00e3o 2.Tipo 3.C\\u00f4modos 4.Pre\\u00e7o/fluxo 5.CTA\\nINVESTIMENTO (lan\\u00e7amento): 1.Invista + regi\\u00e3o 2.Proje\\u00e7\\u00e3o de rentabilidade 3.Fluxo (entrada+mensais) 4.Vantagens da regi\\u00e3o 5.CTA\\nRegra de copy: 80% da for\\u00e7a est\\u00e1 no GANCHO. Headline sempre bate as informa\\u00e7\\u00f5es principais.\\n \\nBloco 4 \\u2014 Regras r\\u00edgidas (travas)\\nNUNCA:\\n- Subir p\\u00fablico acima da faixa de valor do im\\u00f3vel.\\n- Subir qualquer varia\\u00e7\\u00e3o de p\\u00fablico sem confirma\\u00e7\\u00e3o do cliente.\\n- Definir verba sozinho (s\\u00f3 sugere faixa).\\n- Deixar Marketplace/Notifica\\u00e7\\u00f5es ativos no Facebook.\\n- Ignorar alerta de base pequena (<100mil amarelo, <50mil vermelho).\\n- Misturar lan\\u00e7amento e estoque na mesma campanha.\\n- Inventar dado de produto n\\u00e3o informado.\\n- Prometer ou dar a entender que a Quirk vai criar o criativo. O criativo vem pronto do cliente.\\n- Mostrar JSON, dados t\\u00e9cnicos estruturados ou marcadores internos na conversa com o cliente.\\n \\nBloco 5 \\u2014 Coleta de dados (do WhatsApp)\\nPe\\u00e7a os dados que faltam de forma DIRETA, numa mensagem curta \\u2014 sem explicar cada item, s\\u00f3 pergunte. Exemplo de tom: \\\"Pra montar a campanha preciso de: tipo do im\\u00f3vel, valor, bairro/regi\\u00e3o e o objetivo (morar, investir ou veraneio). Pode me passar?\\\"\\nDados a coletar, no m\\u00ednimo:\\n- Objetivo: moradia / veraneio / investimento\\n- Tipo de im\\u00f3vel e fase (lan\\u00e7amento, pronto, estoque)\\n- Valor do im\\u00f3vel (define o p\\u00fablico \\u2014 cr\\u00edtico)\\n- Localiza\\u00e7\\u00e3o (regi\\u00e3o / bairro exato)\\n- Perfil-alvo informado (profiss\\u00e3o, investidor, corretor?)\\n- Or\\u00e7amento e per\\u00edodo\\n- Criativo (imagem/v\\u00eddeo) enviado pelo cliente\\n- Diferencial do produto\\nFaltou item essencial (principalmente valor ou criativo)? Pergunte \\u2014 de forma curta \\u2014 antes de prosseguir.\\n \\nBloco 5.1 \\u2014 Verifica\\u00e7\\u00e3o do criativo\\nO criativo \\u00e9 enviado pelo cliente e registrado no sistema com DATA e HORA. Antes de finalizar a campanha:\\n- Confirme que existe um criativo registrado para esta conversa (a mem\\u00f3ria traz uma nota de \\\"criativo recebido\\\", com data e hora, quando isso acontece).\\n- Verifique se o criativo registrado corresponde ao im\\u00f3vel discutido AGORA. Use a data e o hor\\u00e1rio de envio como refer\\u00eancia: o criativo correto \\u00e9 o que foi enviado em proximidade temporal com a conversa sobre este im\\u00f3vel.\\n- Se houver mais de um criativo registrado, ou qualquer d\\u00favida sobre qual pertence a este im\\u00f3vel, PERGUNTE ao cliente qual usar.\\n- Se nenhum criativo foi recebido, pe\\u00e7a que o cliente envie antes de finalizar.\\nMantenha isso sempre presente, atualizado e congruente: o an\\u00fancio tem que subir com o criativo certo, do im\\u00f3vel certo.\\n \\nBloco 6 \\u2014 L\\u00f3gica de decis\\u00e3o (\\u00e1rvore de racioc\\u00ednio)\\nExecute SEMPRE nesta ordem, de forma concisa:\\n1. Identifique o OBJETIVO (moradia/veraneio/investimento) \\u2192 define o esqueleto de copy.\\n2. Leia o VALOR do im\\u00f3vel \\u2192 define o p\\u00fablico base pela tabela 3.1 (regra dura).\\n3. Defina o p\\u00fablico: profiss\\u00e3o clara \\u2192 Profiss\\u00f5es; investidor \\u2192 Invest; corretor \\u2192 Corretores; sen\\u00e3o a varia\\u00e7\\u00e3o adequada. Sugira o p\\u00fablico recomendado de forma BREVE e pe\\u00e7a confirma\\u00e7\\u00e3o. N\\u00c3O liste o cat\\u00e1logo.\\n4. Pergunte o TRILHO (ver Bloco 6.5) \\u2014 de forma curta.\\n5. Verifique o criativo (Bloco 5.1).\\n6. Estime o tamanho da base: <100mil amarelo / <50mil vermelho \\u2192 abra configura\\u00e7\\u00f5es conforme 3.3.\\n7. Aplique configura\\u00e7\\u00f5es fixas (Marketplace/Notifica\\u00e7\\u00f5es off; exclus\\u00f5es se frequ\\u00eancia alta).\\n8. Sugira a FAIXA de verba de forma SUCINTA \\u2014 uma frase, sem explica\\u00e7\\u00e3o longa.\\n9. Fa\\u00e7a um resumo curto da campanha e aguarde o \\\"sim\\\".\\n \\nBloco 6.5 \\u2014 Escolha de trilho: Alcance vs Precis\\u00e3o\\nA escolha do trilho pertence ao cliente. Pergunte de forma BREVE \\u2014 uma frase curta para cada op\\u00e7\\u00e3o, nada de par\\u00e1grafo:\\n\\\"Voc\\u00ea prefere ALCANCE (falar com mais gente, custo por lead menor) ou PRECIS\\u00c3O (menos gente, lead mais qualificado)? Nos dois eu mantenho um filtro de qualidade.\\\"\\nN\\u00c3O liste p\\u00fablicos a menos que o cliente pe\\u00e7a. Se o cliente n\\u00e3o entender, d\\u00ea um exemplo curto do neg\\u00f3cio dele. Se ainda assim n\\u00e3o decidir, use PRECIS\\u00c3O como padr\\u00e3o.\\nUso interno: trilho ALCANCE \\u2192 p\\u00fablicos mais amplos (Pub 0/1/2). Trilho PRECIS\\u00c3O \\u2192 p\\u00fablicos mais segmentados (Pub 3/4/5/Invest/Profiss\\u00f5es, LIMITAR). A faixa de valor (Bloco 3.1) continua acima do trilho \\u2014 o trilho ajusta a abertura dentro do que a faixa permite, nunca contra ela. TODAS as campanhas s\\u00e3o de MENSAGEM (CTWA) \\u2014 nunca sugira formul\\u00e1rio, lead form, cadastro ou qualquer outro destino.\\n \\nBloco 7 \\u2014 Casos de borda\\nValor n\\u00e3o informado \\u2192 pergunte (sem valor n\\u00e3o h\\u00e1 decis\\u00e3o de p\\u00fablico).\\nCriativo n\\u00e3o enviado \\u2192 pe\\u00e7a ao cliente o criativo pronto antes de finalizar. A Quirk n\\u00e3o produz criativo.\\nCliente n\\u00e3o entende a pergunta de trilho \\u2192 d\\u00ea um exemplo curto do neg\\u00f3cio dele; se ainda assim n\\u00e3o decidir, use PRECIS\\u00c3O como padr\\u00e3o.\\nBase estimada vermelha \\u2192 recomende Pub 0 (p\\u00fablico aberto), de forma breve.\\nPedido fora do imobili\\u00e1rio \\u2192 encaminhe para humano.\\n \\nBloco 8 \\u2014 Confirma\\u00e7\\u00e3o e seguran\\u00e7a\\nAntes de considerar a campanha confirmada:\\n1. D\\u00ea um Nome claro para a campanha e destaque isso na mensagem.\\n2. Fa\\u00e7a um resumo CURTO da campanha (objetivo, p\\u00fablico, regi\\u00e3o, VERBA DI\\u00c1RIA COMO N\\u00daMERO FECHADO) \\u2014 em poucas linhas, n\\u00e3o um relat\\u00f3rio.\\n3. NOMEIE EXPLICITAMENTE o p\\u00fablico escolhido no resumo, usando o r\\u00f3tulo da matriz Quirk (ex: \\\"Pub Quirk 4\\\", \\\"Pub Quirk Invest + Alto valor\\\", \\\"Pub Corretores #1\\\"). Pode acompanhar de uma frase curta humanizando.\\n4. **OBRIGAT\\u00d3RIO** \\u2014 termine SEMPRE a mensagem do resumo final com EXATAMENTE esta frase, em destaque, em uma nova linha:\\n\\n**Pra confirmar e subir esta campanha, responda: CONFIRMADO**\\n\\n(use exatamente assim, com a palavra CONFIRMADO em mai\\u00fasculas. Sem varia\\u00e7\\u00e3o. Sem traduzir. Sem reescrever.)\\n\\n5. Aguarde o cliente responder a palavra CONFIRMADO. Qualquer outra resposta (sim, ok, manda ver, vamos, etc) N\\u00c3O conta como confirma\\u00e7\\u00e3o \\u2014 pergunte de novo \\\"Pra subir, preciso que voc\\u00ea responda CONFIRMADO\\\".\\n\\nREGRA INVIOL\\u00c1VEL: a palavra de confirma\\u00e7\\u00e3o \\u00e9 exatamente CONFIRMADO. Nada mais dispara a cria\\u00e7\\u00e3o da campanha.\\n\\nN\\u00c3O entregue JSON, dados t\\u00e9cnicos estruturados ou marcadores internos na conversa com o cliente. A conversa \\u00e9 humana e limpa.\\nAcompanhamento: o cliente pode pedir o desempenho da campanha (pelo nome dela) a qualquer momento que a Quirk envia. NUNCA prometa relat\\u00f3rio autom\\u00e1tico nem revis\\u00e3o programada em prazo espec\\u00edfico \\u2014 voc\\u00ea \\u00e9 REATIVO, n\\u00e3o proativo.\\n \\nQuirk Growth \\u2014 Processo fraco desperdi\\u00e7a oportunidade boa.\\n \\n========================================\\nHIST\\u00d3RICO DA CONVERSA (mensagens anteriores entre voc\\u00ea e este cliente):\\n>>>{{ $node['select_conversa'].json.historico }}<<<\\n========================================\\nNOVA MENSAGEM DO CLIENTE (acabou de chegar agora):\\n{{ $node['webhook'].json.body.message.text }}\\n========================================\\nINSTRU\\u00c7\\u00c3O: Se o HIST\\u00d3RICO acima tiver conte\\u00fado, d\\u00ea continuidade natural \\u00e0 conversa \\u2014 N\\u00c3O recomece nem repita perguntas j\\u00e1 respondidas. Se estiver vazio, \\u00e9 o primeiro contato. Responda \\u00e0 NOVA MENSAGEM de forma curta e direta, seguindo as regras dos blocos. Sua resposta vai direto pro WhatsApp do cliente \\u2014 escreva apenas a mensagem conversacional, sem JSON, sem dados t\\u00e9cnicos, sem marcadores internos.\";\nconst userContent = String($('normalize_phone').first().json.mensagem_texto || \"\");\n\nreturn [{\n  json: {\n    model: \"claude-sonnet-4-5\",\n    max_tokens: 1500,\n    temperature: 0.3,\n    system,\n    messages: [{ role: \"user\", content: userContent }]\n  }\n}];\n"
        }
      },
      {
        "id": "agente_principal",
        "name": "agente_principal",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1700,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "Hr9Eb7pGMXTH9hD5",
            "name": "Quirk Anthropic Header"
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000
      },
      {
        "id": "build_classifier_body",
        "name": "build_classifier_body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1900,
          100
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const system = \"Voc\\u00ea \\u00e9 um classificador bin\\u00e1rio SIMPLES. Sua \\u00fanica fun\\u00e7\\u00e3o \\u00e9 decidir se o cliente respondeu EXATAMENTE a palavra CONFIRMADO (case-insensitive) em resposta a um pedido de confirma\\u00e7\\u00e3o do agente.\\n\\nMENSAGEM DO CLIENTE (a mais recente):\\n>>>{{ $node['webhook'].json.body.message.text }}<<<\\n\\nRESPOSTA DO AGENTE A ESSA MENSAGEM:\\n>>>{{ $node['agente_principal'].json.message.content[0].text }}<<<\\n\\n==============================================\\nREGRA \\u00daNICA E ABSOLUTA:\\n==============================================\\n\\nResponda CONFIRMADO se TODAS as 3 condi\\u00e7\\u00f5es abaixo forem verdadeiras:\\n\\n1. A mensagem do cliente \\u00e9 EXATAMENTE a palavra \\\"CONFIRMADO\\\" (ignorando mai\\u00fasculas/min\\u00fasculas e espa\\u00e7os ao redor). Aceitam-se varia\\u00e7\\u00f5es ortogr\\u00e1ficas:\\n   \\u2705 CONFIRMADO, confirmado, Confirmado, CONFIRMADO!, confirmado., \\\"confirmado\\\" entre aspas.\\n   \\u274c N\\u00c3O ACEITA: \\\"sim\\\", \\\"pode\\\", \\\"ok\\\", \\\"manda ver\\\", \\\"vamos\\\", \\\"fechado\\\", \\\"t\\u00e1 bom\\\", \\\"confirma\\\", \\\"confirmo\\\", \\\"confirmando\\\", frases longas que CONTENHAM a palavra confirmado mas n\\u00e3o APENAS ela (ex: \\\"confirmado vamos seguir\\\" \\u2014 n\\u00e3o conta).\\n\\n2. A resposta do agente (na mensagem anterior vis\\u00edvel no contexto) PEDIU a palavra CONFIRMADO explicitamente (frase tipo \\\"responda CONFIRMADO\\\" ou similar) ou trata essa resposta como confirma\\u00e7\\u00e3o final (\\\"subindo agora\\\", \\\"t\\u00e1 no ar\\\").\\n\\n3. Ainda assim \\u2014 verifique se a resposta do agente AGORA trata como confirma\\u00e7\\u00e3o (ex.: \\\"Subindo agora\\\", \\\"T\\u00e1 no ar\\\", \\\"Vou subir\\\"). Se o agente AINDA est\\u00e1 coletando ou perguntando algo, responda PENDENTE mesmo que cliente tenha dito CONFIRMADO (pode ser confirma\\u00e7\\u00e3o prematura).\\n\\n==============================================\\nEM QUALQUER OUTRA SITUA\\u00c7\\u00c3O \\u2192 PENDENTE.\\n==============================================\\n\\nCliente disse s\\u00f3 \\\"sim\\\" \\u2192 PENDENTE.\\nCliente disse \\\"ok pode subir\\\" \\u2192 PENDENTE.\\nCliente disse \\\"pode\\\" \\u2192 PENDENTE.\\nCliente disse \\\"manda ver\\\" \\u2192 PENDENTE.\\nCliente disse \\\"vamos\\\" \\u2192 PENDENTE.\\nCliente disse \\\"confirmo\\\" (verbo, n\\u00e3o substantivo) \\u2192 PENDENTE.\\nCliente disse \\\"confirmando\\\" \\u2192 PENDENTE.\\nCliente disse \\\"confirmado mesmo\\\" \\u2192 PENDENTE (n\\u00e3o \\u00e9 APENAS a palavra).\\nCliente disse \\\"CONFIRMADO\\\" mas agente ainda perguntou algo na resposta \\u2192 PENDENTE.\\n\\nREGRA DE SEGURAN\\u00c7A: na menor d\\u00favida, responda PENDENTE.\\n\\n==============================================\\nFORMATO DA RESPOSTA:\\n==============================================\\nResponda com UMA \\u00daNICA PALAVRA, em letras mai\\u00fasculas, sem pontua\\u00e7\\u00e3o, sem aspas, sem explica\\u00e7\\u00e3o, sem nada antes ou depois:\\nCONFIRMADO\\nou\\nPENDENTE\";\nconst userContent = String('Mensagem do cliente: ' + ($('normalize_phone').first().json.mensagem_texto || '') + '\\n\\nResposta do agente: ' + ($('agente_principal').first().json.content?.[0]?.text || '') || \"\");\n\nreturn [{\n  json: {\n    model: \"claude-sonnet-4-5\",\n    max_tokens: 20,\n    temperature: 0,\n    system,\n    messages: [{ role: \"user\", content: userContent }]\n  }\n}];\n"
        }
      },
      {
        "id": "classifier",
        "name": "classifier",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2100,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "Hr9Eb7pGMXTH9hD5",
            "name": "Quirk Anthropic Header"
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000
      },
      {
        "id": "build_extrator_body",
        "name": "build_extrator_body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2880,
          50
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const system = \"Voc\\u00ea \\u00e9 um EXTRATOR de dados de campanha. Sua \\u00fanica fun\\u00e7\\u00e3o \\u00e9 ler a conversa completa abaixo entre o agente de tr\\u00e1fego da Quirk e o cliente, e extrair a estrutura final da campanha que o cliente confirmou.\\n\\nCONVERSA COMPLETA:\\n>>>{{ $node['select_conversa'].json.historico }}<<<\\n\\nREGRAS GERAIS:\\n- Responda APENAS com um objeto JSON v\\u00e1lido. Nada antes, nada depois. Sem marcadores de c\\u00f3digo (sem crase tripla), sem explica\\u00e7\\u00e3o, sem coment\\u00e1rio.\\n- Preencha cada campo com o dado REAL extra\\u00eddo da conversa.\\n- Verba di\\u00e1ria (verba_diaria) e valor do im\\u00f3vel (valor_imovel): devolva SEMPRE um N\\u00daMERO INTEIRO, sem \\\"R$\\\", sem pontos de milhar, sem aspas. Exemplos v\\u00e1lidos: 30, 50, 100, 450000, 1500000.\\n- CR\\u00cdTICO sobre verba_diaria: nunca devolva null ou string. Se o cliente disse \\\"confirma\\\" sem citar verba espec\\u00edfica, use o valor MENOR da faixa que o agente sugeriu (ex: agente sugeriu \\\"R$ 70-100/dia\\\" \\u2192 use 70). Se nenhuma verba foi citada na conversa inteira, use 30 como padr\\u00e3o (R$ 30/dia, valor seguro m\\u00ednimo). NUNCA use o valor maior \\u2014 come\\u00e7amos com o piso pra n\\u00e3o comprometer verba do cliente.\\n\\nREGRAS ESPECIAIS (sempre aplique):\\n- objetivo_meta: SEMPRE \\\"OUTCOME_LEADS\\\". Todas as campanhas da Quirk Auto Ads s\\u00e3o de mensagem CTWA (Click-to-WhatsApp). Na API da Meta, isso usa objective OUTCOME_LEADS no n\\u00edvel da campanha, e CONVERSATIONS + WHATSAPP no n\\u00edvel do conjunto. O Extrator sempre devolve OUTCOME_LEADS aqui.\\n- publico_escolhido: deve coincidir com o NOME EXATO de um item da TABELA DE P\\u00daBLICOS abaixo. Se o agente nominou (ex: \\\"Pub Quirk 4\\\"), use literal. Se N\\u00c3O houver nome formal mas o cliente confirmou trilho + faixa de valor, deduza o p\\u00fablico mais adequado pela regra: alcance + ate_700k \\u2192 \\\"Pub Quirk 2\\\"; alcance + acima_1mi \\u2192 \\\"Pub Quirk 4\\\"; precisao + acima_1mi \\u2192 \\\"Pub Quirk 5\\\"; investidor \\u2192 \\\"Pub Quirk Invest\\\"; profiss\\u00e3o espec\\u00edfica \\u2192 \\\"Pub Quirk Profiss\\u00f5es\\\"; corretor \\u2192 \\\"Pub Corretores #1\\\". Em \\u00faltima inst\\u00e2ncia (sem dado), use \\\"Pub Quirk 0\\\".\\n- nome da campanha: extraia EXATAMENTE como o cliente definiu na conversa. N\\u00e3o reformule.\\n- copy: se a copy espec\\u00edfica n\\u00e3o foi escrita na conversa, monte uma descri\\u00e7\\u00e3o curta baseada no produto (tipo, regi\\u00e3o, valor, diferencial). N\\u00e3o deixe vazio.\\n- periodo: se n\\u00e3o foi definido, use \\\"15 dias\\\" como padr\\u00e3o Quirk.\\n\\nREGRA DE TARGETING_META (CR\\u00cdTICA):\\nO campo \\\"targeting_meta\\\" deve ser preenchido conforme a TABELA DE P\\u00daBLICOS abaixo, usando o valor de \\\"publico_escolhido\\\" como chave. Copie o objeto JSON da tabela EXATAMENTE como est\\u00e1, depois ajuste age_min/age_max e geo_locations se o cliente confirmou valores diferentes na conversa.\\n\\nSe o cliente mencionou cidade espec\\u00edfica (ex: \\\"Curitiba\\\", \\\"S\\u00e3o Paulo\\\"), substitua:\\n  \\\"geo_locations\\\": {\\\"countries\\\": [\\\"BR\\\"]}\\npor:\\n  \\\"geo_locations\\\": {\\\"cities\\\": [{\\\"name\\\": \\\"Curitiba, BR\\\"}]}\\n\\nSe o cliente mencionou raio (ex: \\\"30km da Gleba Palhano\\\"), adicione \\\"radius\\\": 30 e \\\"distance_unit\\\": \\\"kilometer\\\" dentro do objeto da cidade.\\n\\nREGRA CR\\u00cdTICA DE TIPOS NO JSON DE SA\\u00cdDA (sob pena de quebrar a campanha na Meta):\\n- Os campos num\\u00e9ricos do \\\"targeting_meta\\\" \\u2014 age_min, age_max \\u2014 DEVEM ser INTEIROS JSON (sem aspas, sem ponto, sem string). Exemplo V\\u00c1LIDO: \\\"age_min\\\":25 ; \\\"age_max\\\":60 . Exemplo INV\\u00c1LIDO: \\\"age_min\\\":\\\"25\\\" ; \\\"age_max\\\":null .\\n- O campo verba_diaria DEVE ser INTEIRO JSON. Exemplo V\\u00c1LIDO: \\\"verba_diaria\\\":30 . INV\\u00c1LIDO: \\\"verba_diaria\\\":\\\"30\\\" ou null.\\n- O campo valor_imovel DEVE ser INTEIRO JSON. Mesmas regras.\\n- Se algum desses campos n\\u00e3o puder ser deduzido, NUNCA devolva null \\u2014 use o valor padr\\u00e3o da tabela (age_min:25, age_max:60, verba_diaria:30, valor_imovel:0).\\n\\nREGRA CR\\u00cdTICA DE GEO_LOCATIONS:\\nO cliente DEVE ter informado uma cidade brasileira + raio em km. Extraia ambos pros campos:\\n- conjunto.geo (string descritiva: \\\"Goi\\u00e2nia, raio 15km\\\")\\n- conjunto.geo_cidade (nome literal da cidade)\\n- conjunto.geo_raio_km (inteiro)\\n\\nEm \\\"targeting_meta.geo_locations\\\", monte usando a TABELA DE CIDADES BR. Formato:\\n  \\\"geo_locations\\\": {\\\"cities\\\": [{\\\"key\\\": \\\"<KEY>\\\", \\\"radius\\\": <raio_km>, \\\"distance_unit\\\": \\\"kilometer\\\"}]}\\n\\nSe cidade n\\u00e3o na tabela, fallback: {\\\"countries\\\":[\\\"BR\\\"]} + alerta no campo \\\"alertas\\\".\\n\\nTABELA DE CIDADES BR \\u2014 nome \\u2192 key:\\n{\\\"S\\u00e3o Paulo\\\":\\\"269969\\\",\\\"Rio de Janeiro\\\":\\\"267027\\\",\\\"Bras\\u00edlia\\\":\\\"245683\\\",\\\"Belo Horizonte\\\":\\\"244661\\\",\\\"Salvador\\\":\\\"267730\\\",\\\"Fortaleza\\\":\\\"253370\\\",\\\"Curitiba\\\":\\\"250457\\\",\\\"Manaus\\\":\\\"259014\\\",\\\"Recife\\\":\\\"266284\\\",\\\"Goi\\u00e2nia\\\":\\\"254063\\\",\\\"Porto Alegre\\\":\\\"264859\\\",\\\"Bel\\u00e9m\\\":\\\"244580\\\",\\\"Guarulhos\\\":\\\"254529\\\",\\\"Campinas\\\":\\\"247071\\\",\\\"Macei\\u00f3\\\":\\\"258670\\\",\\\"Natal\\\":\\\"261132\\\",\\\"Florian\\u00f3polis\\\":\\\"253249\\\",\\\"Cuiab\\u00e1\\\":\\\"250332\\\",\\\"Jo\\u00e3o Pessoa\\\":\\\"256863\\\",\\\"Aracaju\\\":\\\"242415\\\",\\\"Teresina\\\":\\\"272278\\\",\\\"Campo Grande\\\":\\\"247184\\\",\\\"S\\u00e3o Lu\\u00eds\\\":\\\"269788\\\",\\\"Macap\\u00e1\\\":\\\"258622\\\",\\\"Vit\\u00f3ria\\\":\\\"274425\\\",\\\"Porto Velho\\\":\\\"265452\\\",\\\"Boa Vista\\\":\\\"245039\\\",\\\"Palmas\\\":\\\"262281\\\",\\\"Rio Branco\\\":\\\"2685122\\\",\\\"S\\u00e3o Jos\\u00e9 dos Campos\\\":\\\"269667\\\",\\\"Ribeir\\u00e3o Preto\\\":\\\"266876\\\",\\\"Sorocaba\\\":\\\"271407\\\",\\\"Santos\\\":\\\"268866\\\",\\\"Niter\\u00f3i\\\":\\\"261275\\\",\\\"Uberl\\u00e2ndia\\\":\\\"273173\\\",\\\"Londrina\\\":\\\"258404\\\",\\\"Joinville\\\":\\\"256952\\\",\\\"Caxias do Sul\\\":\\\"248639\\\",\\\"Aparecida de Goi\\u00e2nia\\\":\\\"2684750\\\",\\\"Feira de Santana\\\":\\\"252968\\\",\\\"S\\u00e3o Bernardo do Campo\\\":\\\"268965\\\",\\\"Santo Andr\\u00e9\\\":\\\"268652\\\",\\\"Osasco\\\":\\\"261985\\\",\\\"Guaruj\\u00e1\\\":\\\"254526\\\",\\\"Maring\\u00e1\\\":\\\"259493\\\",\\\"Pelotas\\\":\\\"263483\\\",\\\"Ponta Grossa\\\":\\\"264635\\\",\\\"An\\u00e1polis\\\":\\\"241991\\\",\\\"Bauru\\\":\\\"244454\\\",\\\"Piracicaba\\\":\\\"264046\\\",\\\"Limeira\\\":\\\"258269\\\",\\\"Foz do Igua\\u00e7u\\\":\\\"253418\\\",\\\"Caruaru\\\":\\\"248292\\\",\\\"Mossor\\u00f3\\\":\\\"260819\\\",\\\"Caucaia\\\":\\\"2784597\\\",\\\"Imperatriz\\\":\\\"255160\\\",\\\"Cama\\u00e7ari\\\":\\\"246867\\\",\\\"Vit\\u00f3ria da Conquista\\\":\\\"274411\\\",\\\"Paulista\\\":\\\"2781193\\\",\\\"Volta Redonda\\\":\\\"274483\\\",\\\"Petrolina\\\":\\\"263697\\\",\\\"Juazeiro do Norte\\\":\\\"257145\\\",\\\"Praia Grande\\\":\\\"2695717\\\",\\\"S\\u00e3o Vicente\\\":\\\"270299\\\",\\\"Itaquaquecetuba\\\":\\\"255914\\\",\\\"Mogi das Cruzes\\\":\\\"260332\\\",\\\"Diadema\\\":\\\"250771\\\",\\\"Suzano\\\":\\\"271555\\\",\\\"Itu\\\":\\\"256029\\\",\\\"Indaiatuba\\\":\\\"255192\\\",\\\"Jundia\\u00ed\\\":\\\"257242\\\",\\\"Americana\\\":\\\"241913\\\",\\\"S\\u00e3o Carlos\\\":\\\"269036\\\",\\\"Mar\\u00edlia\\\":\\\"259475\\\",\\\"Presidente Prudente\\\":\\\"265708\\\",\\\"Araraquara\\\":\\\"242546\\\",\\\"Mau\\u00e1\\\":\\\"259874\\\",\\\"Carapicu\\u00edba\\\":\\\"248018\\\",\\\"Embu das Artes\\\":\\\"251125\\\",\\\"Taubat\\u00e9\\\":\\\"272181\\\",\\\"Jacare\\u00ed\\\":\\\"256166\\\",\\\"Campos dos Goytacazes\\\":\\\"2684440\\\",\\\"Petr\\u00f3polis\\\":\\\"263698\\\",\\\"Cabo Frio\\\":\\\"246197\\\",\\\"Maca\\u00e9\\\":\\\"258596\\\",\\\"Nova Igua\\u00e7u\\\":\\\"261435\\\",\\\"S\\u00e3o Gon\\u00e7alo\\\":\\\"269263\\\",\\\"Duque de Caxias\\\":\\\"2776811\\\",\\\"Belford Roxo\\\":\\\"244612\\\",\\\"Sorriso\\\":\\\"2684469\\\",\\\"Sinop\\\":\\\"2684461\\\",\\\"Rondon\\u00f3polis\\\":\\\"267336\\\",\\\"V\\u00e1rzea Grande\\\":\\\"273711\\\",\\\"Chapec\\u00f3\\\":\\\"248896\\\",\\\"Blumenau\\\":\\\"244887\\\",\\\"Itaja\\u00ed\\\":\\\"255675\\\",\\\"S\\u00e3o Jos\\u00e9\\\":\\\"2775570\\\",\\\"Crici\\u00fama\\\":\\\"250158\\\"}\\n\\nTABELA DE P\\u00daBLICOS \\u2014 VERS\\u00c3O COM IDs REAIS DA META (use como refer\\u00eancia absoluta \\u2014 n\\u00e3o invente fora dela):\\n\\nNOTA T\\u00c9CNICA: cada interest/behavior/work_position tem ID num\\u00e9rico real obtido via Graph API. Pub Quirk 0 e Pub Quirk 1 ficam broad (n\\u00e3o h\\u00e1 IDs confi\\u00e1veis pra \\\"viajantes frequentes em geral\\\" no cat\\u00e1logo Meta \\u2014 o nome retorna sempre marcas espec\\u00edficas). Os demais Pub Quirk usam targeting refinado com IDs reais:\\n\\n[Pub Quirk 0]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"targeting_automation\\\":{\\\"advantage_audience\\\":1}}\\n\\n[Pub Quirk 1]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.1]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003077334693\\\",\\\"name\\\":\\\"Condom\\u00ednio fechado\\\"},{\\\"id\\\":\\\"6003382467537\\\",\\\"name\\\":\\\"Casa unifamiliar\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.2]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"},{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6003077334693\\\",\\\"name\\\":\\\"Condom\\u00ednio fechado\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.3]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6002965402168\\\",\\\"name\\\":\\\"OLX Brasil\\\"},{\\\"id\\\":\\\"6014552641654\\\",\\\"name\\\":\\\"Zap Im\\u00f3veis\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.4]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003077334693\\\",\\\"name\\\":\\\"Condom\\u00ednio fechado\\\"},{\\\"id\\\":\\\"6002965402168\\\",\\\"name\\\":\\\"OLX Brasil\\\"},{\\\"id\\\":\\\"6014552641654\\\",\\\"name\\\":\\\"Zap Im\\u00f3veis\\\"},{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 1.5]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003332796032\\\",\\\"name\\\":\\\"Desenvolvimento imobili\\u00e1rio\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 2]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6002979192120\\\",\\\"name\\\":\\\"Real Estate\\\"},{\\\"id\\\":\\\"6003392721577\\\",\\\"name\\\":\\\"Investment\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 3]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 4]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]},{\\\"behaviors\\\":[{\\\"id\\\":\\\"6002714895372\\\",\\\"name\\\":\\\"Viajantes frequentes\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 5]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]},{\\\"behaviors\\\":[{\\\"id\\\":\\\"6002714895372\\\",\\\"name\\\":\\\"Viajantes frequentes\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 6]\\n{\\\"geo_locations\\\":{\\\"cities\\\":[{\\\"name\\\":\\\"S\\u00e3o Paulo, BR\\\"},{\\\"name\\\":\\\"Rio de Janeiro, BR\\\"},{\\\"name\\\":\\\"Bras\\u00edlia, BR\\\"},{\\\"name\\\":\\\"Belo Horizonte, BR\\\"},{\\\"name\\\":\\\"Curitiba, BR\\\"},{\\\"name\\\":\\\"Porto Alegre, BR\\\"}]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk 7]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]},{\\\"interests\\\":[{\\\"id\\\":\\\"6003221189867\\\",\\\"name\\\":\\\"Piscina\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Invest]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003392721577\\\",\\\"name\\\":\\\"Investment\\\"},{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6003287729076\\\",\\\"name\\\":\\\"Renda passiva\\\"},{\\\"id\\\":\\\"6003143720966\\\",\\\"name\\\":\\\"Finan\\u00e7as pessoais\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Invest + Intermedi\\u00e1rio]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003392721577\\\",\\\"name\\\":\\\"Investment\\\"},{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6003143720966\\\",\\\"name\\\":\\\"Finan\\u00e7as pessoais\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Invest + Alto valor]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6003446239080\\\",\\\"name\\\":\\\"Investimento imobili\\u00e1rio\\\"},{\\\"id\\\":\\\"6003392721577\\\",\\\"name\\\":\\\"Investment\\\"}]},{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Profiss\\u00f5es]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"work_positions\\\":[{\\\"id\\\":\\\"112696438745118\\\",\\\"name\\\":\\\"Lawyer\\\"},{\\\"id\\\":\\\"108768179146852\\\",\\\"name\\\":\\\"Dentist\\\"},{\\\"id\\\":\\\"106215529409578\\\",\\\"name\\\":\\\"Judge\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Profiss\\u00f5es + Intermedi\\u00e1rio]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"work_positions\\\":[{\\\"id\\\":\\\"112696438745118\\\",\\\"name\\\":\\\"Lawyer\\\"},{\\\"id\\\":\\\"108768179146852\\\",\\\"name\\\":\\\"Dentist\\\"},{\\\"id\\\":\\\"403013926540061\\\",\\\"name\\\":\\\"Resident Physician\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Quirk Profiss\\u00f5es + Alto valor]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":30,\\\"age_max\\\":64,\\\"flexible_spec\\\":[{\\\"work_positions\\\":[{\\\"id\\\":\\\"112696438745118\\\",\\\"name\\\":\\\"Lawyer\\\"},{\\\"id\\\":\\\"106215529409578\\\",\\\"name\\\":\\\"Judge\\\"}]},{\\\"interests\\\":[{\\\"id\\\":\\\"6007828099136\\\",\\\"name\\\":\\\"Bens de luxo\\\"}]}],\\\"user_os\\\":[\\\"iOS\\\"],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Corretores #1]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6002979192120\\\",\\\"name\\\":\\\"Real Estate\\\"},{\\\"id\\\":\\\"6778210171187\\\",\\\"name\\\":\\\"Corretagem de im\\u00f3veis\\\"}],\\\"work_positions\\\":[{\\\"id\\\":\\\"171815889531702\\\",\\\"name\\\":\\\"Real Estate Agent\\\"},{\\\"id\\\":\\\"111867022164671\\\",\\\"name\\\":\\\"Real estate broker\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Corretores #2]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"interests\\\":[{\\\"id\\\":\\\"6002979192120\\\",\\\"name\\\":\\\"Real Estate\\\"},{\\\"id\\\":\\\"6778210171187\\\",\\\"name\\\":\\\"Corretagem de im\\u00f3veis\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\n[Pub Corretores #3]\\n{\\\"geo_locations\\\":{\\\"countries\\\":[\\\"BR\\\"]},\\\"age_min\\\":25,\\\"age_max\\\":60,\\\"flexible_spec\\\":[{\\\"work_positions\\\":[{\\\"id\\\":\\\"171815889531702\\\",\\\"name\\\":\\\"Real Estate Agent\\\"},{\\\"id\\\":\\\"111867022164671\\\",\\\"name\\\":\\\"Real estate broker\\\"}]}],\\\"targeting_automation\\\":{\\\"advantage_audience\\\":0}}\\n\\nESTRUTURA DO JSON (responda exatamente neste formato, preenchido):\\n{\\n  \\\"objetivo\\\": \\\"moradia ou veraneio ou investimento\\\",\\n  \\\"faixa_valor\\\": \\\"ate_700k ou 700k_1mi ou acima_1mi ou investidor\\\",\\n  \\\"trilho_escolhido\\\": \\\"alcance ou precisao\\\",\\n  \\\"publico_escolhido\\\": \\\"nome literal de um item da TABELA acima\\\",\\n  \\\"campanha\\\": {\\n    \\\"nome\\\": \\\"exatamente como o cliente definiu\\\",\\n    \\\"objetivo_meta\\\": \\\"OUTCOME_LEADS\\\",\\n    \\\"verba_diaria\\\": 0,\\n    \\\"periodo\\\": \\\"per\\u00edodo acordado ou 15 dias se n\\u00e3o definido\\\"\\n  },\\n  \\\"conjunto\\\": {\\n    \\\"idade_min\\\": 25,\\n    \\\"idade_max\\\": 60,\\n    \\\"geo\\\": \\\"cidade, bairro ou regi\\u00e3o do im\\u00f3vel\\\",\\n    \\\"limitar\\\": true\\n  },\\n  \\\"anuncio\\\": {\\n    \\\"tipo_imovel\\\": \\\"casa ou apartamento ou sobrado ou lote etc\\\",\\n    \\\"valor_imovel\\\": 0,\\n    \\\"copy\\\": \\\"descri\\u00e7\\u00e3o curta do produto - tipo, regi\\u00e3o, valor, diferencial (NUNCA vazio)\\\"\\n  },\\n  \\\"targeting_meta\\\": {}\\n}\\n\\nREGRA FINAL:\\n- \\\"targeting_meta\\\" deve ser preenchido com o OBJETO da TABELA correspondente ao \\\"publico_escolhido\\\".\\n- Se houver ajustes do cliente (idade, geo), aplique sobre o objeto base ANTES de colocar no JSON.\\n- Se \\\"publico_escolhido\\\" n\\u00e3o bater com nenhum item da TABELA, use o objeto de [Pub Quirk 0] e marque \\\"publico_escolhido\\\" como \\\"Pub Quirk 0\\\".\\n\\nResponda SOMENTE com o JSON preenchido, mais nada.\";\nconst userContent = String($('build_historico').first().json.historico_atualizado || \"\");\n\nreturn [{\n  json: {\n    model: \"claude-sonnet-4-5\",\n    max_tokens: 3000,\n    temperature: 0,\n    system,\n    messages: [{ role: \"user\", content: userContent }]\n  }\n}];\n"
        }
      },
      {
        "id": "extrator",
        "name": "extrator",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3080,
          50
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "Hr9Eb7pGMXTH9hD5",
            "name": "Quirk Anthropic Header"
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000
      }
    ],
    "connections": {
      "webhook": {
        "main": [
          [
            {
              "node": "respond_immediate",
              "type": "main",
              "index": 0
            },
            {
              "node": "switch_type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "switch_type": {
        "main": [
          [
            {
              "node": "normalize_phone",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "media_normalize_phone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "normalize_phone": {
        "main": [
          [
            {
              "node": "select_cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select_cliente": {
        "main": [
          [
            {
              "node": "if_cadastrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "if_cadastrado": {
        "main": [
          [
            {
              "node": "select_conversa",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "send_nao_cadastrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select_conversa": {
        "main": [
          [
            {
              "node": "build_agente_body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "agente_principal": {
        "main": [
          [
            {
              "node": "build_classifier_body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "classifier": {
        "main": [
          [
            {
              "node": "build_historico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "build_historico": {
        "main": [
          [
            {
              "node": "upsert_conversa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "upsert_conversa": {
        "main": [
          [
            {
              "node": "send_resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send_resposta": {
        "main": [
          [
            {
              "node": "if_confirmado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "if_confirmado": {
        "main": [
          [
            {
              "node": "build_extrator_body",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "extrator": {
        "main": [
          [
            {
              "node": "parse_extrator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "parse_extrator": {
        "main": [
          [
            {
              "node": "validate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "validate": {
        "main": [
          [
            {
              "node": "if_valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "if_valid": {
        "main": [
          [
            {
              "node": "load_meta_token",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "audit_validacao_falhou",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "meta_d1_campaign": {
        "main": [
          [
            {
              "node": "meta_d2_adset",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "meta_d2_adset": {
        "main": [
          [
            {
              "node": "meta_d3_creative",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "meta_d3_creative": {
        "main": [
          [
            {
              "node": "meta_d4_ad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "meta_d4_ad": {
        "main": [
          [
            {
              "node": "insert_campanha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "insert_campanha": {
        "main": [
          [
            {
              "node": "audit_campanha_criada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "audit_campanha_criada": {
        "main": [
          [
            {
              "node": "send_confirmacao_cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "media_normalize_phone": {
        "main": [
          [
            {
              "node": "media_select_cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "media_select_cliente": {
        "main": [
          [
            {
              "node": "media_if_cadastrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "media_if_cadastrado": {
        "main": [
          [
            {
              "node": "media_download",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "media_download": {
        "main": [
          [
            {
              "node": "media_upsert_criativo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "media_upsert_criativo": {
        "main": [
          [
            {
              "node": "media_send_confirma",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "load_meta_token": {
        "main": [
          [
            {
              "node": "meta_d1_campaign",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "build_agente_body": {
        "main": [
          [
            {
              "node": "agente_principal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "build_classifier_body": {
        "main": [
          [
            {
              "node": "classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "build_extrator_body": {
        "main": [
          [
            {
              "node": "extrator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Renan Real",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-29T01:12:45.271Z",
        "id": 32,
        "workflowId": "fBUin1UPt5xJEp6g",
        "versionId": "872a22ab-ee54-40a8-b0b1-1e5cd01d3e17",
        "event": "activated",
        "userId": "b66f7878-8a71-4e1a-a4a4-d4dc57536429"
      }
    ]
  }
}