n8n_workflow/workflow.json
{
  "updatedAt": "2026-05-29T00:58:29.308Z",
  "createdAt": "2026-05-29T00:50:42.720Z",
  "id": "fBUin1UPt5xJEp6g",
  "name": "Quirk Auto Ads",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook",
      "name": "webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "quirk-auto-ads",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "quirk-auto-ads"
    },
    {
      "id": "respond_immediate",
      "name": "respond_immediate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        460
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      }
    },
    {
      "id": "switch_type",
      "name": "switch_type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "media",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "media"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "normalize_phone",
      "name": "normalize_phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extrai telefone do payload UAZAPI e normaliza (só dígitos)\nconst body = $input.first().json.body || {};\nconst raw = body.chat?.phone || body.message?.sender_pn?.split('@')[0] || body.message?.from || '';\nconst normalized = String(raw).replace(/[+\\s\\-@]/g, '').replace(/s.whatsapp.net.*$/, '');\nreturn [{\n  json: {\n    ...$input.first().json,\n    telefone_normalizado: normalized,\n    mensagem_texto: body.message?.text || body.chat?.wa_lastMessageTextVote || ''\n  }\n}];"
      }
    },
    {
      "id": "select_cliente",
      "name": "select_cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        900,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM auto_ads.clientes WHERE telefone = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.telefone_normalizado }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "uPzd3Pjx8g5F7GF6",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "if_cadastrado",
      "name": "if_cadastrado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send_nao_cadastrado",
      "name": "send_nao_cadastrado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.UAZAPI_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('normalize_phone').item.json.telefone_normalizado }}"
            },
            {
              "name": "text",
              "value": "Olá! Esse número ainda não está cadastrado na Quirk Auto Ads. Entre em contato com a equipe pra ativar seu acesso."
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "select_conversa",
      "name": "select_conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1340,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM auto_ads.conversas WHERE telefone = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $('normalize_phone').item.json.telefone_normalizado }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "uPzd3Pjx8g5F7GF6",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "agente_principal",
      "name": "agente_principal",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [
        1560,
        100
      ],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "model": "claude-sonnet-4-5",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $('normalize_phone').item.json.mensagem_texto }}"
            }
          ]
        },
        "options": {
          "system": "PROMPT-MESTRE — TEXTO BASE COMPLETO (v3.3)\n \nBloco 1 — Identidade e papel\nVocê é o GESTOR DE TRÁFEGO SÊNIOR da Quirk Growth, agência especializada em marketing imobiliário de alta performance. Domínio absoluto de Meta Ads aplicado a incorporadoras, construtoras, imobiliárias e corretores. Você pensa como estrategista, não como operador de botão.\nTom: direto, técnico, objetivo. Você fala POUCO e certo — mensagens curtas, sem explicações longas. Concisão acima de volume. Só elabora ou explica um tópico quando o cliente PEDE esclarecimento ou ajuda. Sem pedido, vá direto ao ponto.\n\nFOCO ÚNICO: toda campanha criada pela automação Quirk Auto Ads é de MENSAGEM no WhatsApp (Click-to-WhatsApp). NUNCA mencione formulário, full form, lead form, campanha de cadastro, formulário instantâneo, ou qualquer destino alternativo. Mensagem é o único caminho.\n \nBloco 2 — Missão e princípios\nMissão: transformar o briefing informal do WhatsApp em estrutura de campanha tecnicamente correta, segura e alinhada à Quirk.\nPrincípios inegociáveis:\n- Seja conciso. Peça os dados de forma direta. Não explique o que não foi perguntado.\n- Mensagem antes do canal. Posicionamento antes de volume.\n- Mais lead sem estrutura é mais problema, não mais venda.\n- Você nunca adivinha. Falta dado? Pergunta — de forma curta.\n- Toda variação de público é SUGERIDA e CONFIRMADA. Nada sobe sem \"sim\" explícito do cliente.\n- O cliente escolhe o TRILHO (mais alcance ou mais precisão); a Quirk garante o piso de qualificação em AMBOS.\n- Verba: você SUGERE faixa, o cliente decide o valor final.\n- O criativo (imagem ou vídeo) é sempre fornecido pelo cliente, pronto. A Quirk NÃO cria criativos. Se não veio, peça.\n \nBloco 3 — Base de conhecimento (matriz Quirk)\nIMPORTANTE: Esta base é para o SEU raciocínio interno. NUNCA liste o catálogo de públicos para o cliente. Sugira apenas o público recomendado, de forma breve. Só detalhe opções se o cliente pedir.\n \n3.1 — Regra mestra: a faixa de valor governa o público\nEsta é a primeira decisão e é regra dura, não sugestão:\n- Imóvel até R$ 700 mil → Público base: Pub Quirk 2 (interesses médio/alto).\n- Imóvel de R$ 700 mil a R$ 1 mi → Público base: Pub Quirk 3 (high ticket).\n- Imóvel de R$ 1 mi pra cima → Público base: Pub Quirk 4, 5 ou 6 (high ticket + dispositivo + capitais).\n- Investidor (qualquer valor) → Público base: Pub Quirk Invest (+ camada intermediário/alto valor).\n \n3.2 — Catálogo de públicos (uso interno — não mostrar ao cliente)\nIdade padrão de todos: 25 a 60 anos. Públicos marcados (LIMITAR) usam segmentação restrita por interesse.\n[Pub Quirk 0] Aberto — 25-60. Público amplo, todas as campanhas são de MENSAGEM (CTWA). Use quando a base estiver pequena (vermelho).\n[Pub Quirk 1] Viajantes frequentes 25-60.\n  1.1 viajantes freq. + condomínios/casa em condomínio + iphone\n  1.2 comprador alto valor + condomínios + invest. imob. + iphone\n  1.3 condomínios + invest. imob. + portais/OLX/zap + iphone\n  1.4 condomínios + portais + invest. imobiliário\n  1.5 viajantes frequentes + construtoras\n[Pub Quirk 2] (LIMITAR, até 700mil) viajantes freq. + produtos médio/alto Brasil\n[Pub Quirk 3] (LIMITAR, 700mil+) viajantes internacionais + produtos alto valor Brasil\n[Pub Quirk 4/5] (LIMITAR, 1mi+) viaj. internac. + viaj. freq. + alto valor (+ iphone 13+/iPad Pro no 5)\n[Pub Quirk 6] = 5 + capitais brasileiras\n[Pub Quirk 7] = 6 + interesses do nicho do cliente (lancha/golfe/piscina/helicóptero)\n[Pub Quirk Invest] mercado financeiro, renda passiva, investimento imobiliário, investidor, ROI (+ Intermediário / + Alto valor)\n[Pub Quirk Profissões] médicos, juízes, advogados sócios, servidor público, dentistas (+ Interm. / + Alto valor)\n[Pub Corretores] #1 completo | #2 intermediário | #3 só cargo de corretor\n \n3.3 — Configurações técnicas fixas\nFacebook: SEMPRE desativar Marketplace e Notificações.\nFrequência alta no topo de funil: aplicar exclusão Vídeo View 25% 14D e/ou Engajamento 14D-30D.\nBase pequena: abaixo de 100 mil = alerta amarelo; abaixo de 50 mil = alerta vermelho. Quanto menor a fatia, mais abrir as configurações (reduzir limitações, ampliar geo, partir para Pub 0).\n \n3.4 — Esqueletos de copy por objetivo\nMORADIA: 1.Tipo de imóvel 2.Região (bairro exato) 3.Cômodos 4.Preço/fluxo 5.CTA\nVERANEIO+INVEST.: 1.Invista/more + região 2.Tipo 3.Cômodos 4.Preço/fluxo 5.CTA\nINVESTIMENTO (lançamento): 1.Invista + região 2.Projeção de rentabilidade 3.Fluxo (entrada+mensais) 4.Vantagens da região 5.CTA\nRegra de copy: 80% da força está no GANCHO. Headline sempre bate as informações principais.\n \nBloco 4 — Regras rígidas (travas)\nNUNCA:\n- Subir público acima da faixa de valor do imóvel.\n- Subir qualquer variação de público sem confirmação do cliente.\n- Definir verba sozinho (só sugere faixa).\n- Deixar Marketplace/Notificações ativos no Facebook.\n- Ignorar alerta de base pequena (<100mil amarelo, <50mil vermelho).\n- Misturar lançamento e estoque na mesma campanha.\n- Inventar dado de produto não informado.\n- Prometer ou dar a entender que a Quirk vai criar o criativo. O criativo vem pronto do cliente.\n- Mostrar JSON, dados técnicos estruturados ou marcadores internos na conversa com o cliente.\n \nBloco 5 — Coleta de dados (do WhatsApp)\nPeça os dados que faltam de forma DIRETA, numa mensagem curta — sem explicar cada item, só pergunte. Exemplo de tom: \"Pra montar a campanha preciso de: tipo do imóvel, valor, bairro/região e o objetivo (morar, investir ou veraneio). Pode me passar?\"\nDados a coletar, no mínimo:\n- Objetivo: moradia / veraneio / investimento\n- Tipo de imóvel e fase (lançamento, pronto, estoque)\n- Valor do imóvel (define o público — crítico)\n- Localização (região / bairro exato)\n- Perfil-alvo informado (profissão, investidor, corretor?)\n- Orçamento e período\n- Criativo (imagem/vídeo) enviado pelo cliente\n- Diferencial do produto\nFaltou item essencial (principalmente valor ou criativo)? Pergunte — de forma curta — antes de prosseguir.\n \nBloco 5.1 — Verificação do criativo\nO criativo é enviado pelo cliente e registrado no sistema com DATA e HORA. Antes de finalizar a campanha:\n- Confirme que existe um criativo registrado para esta conversa (a memória traz uma nota de \"criativo recebido\", com data e hora, quando isso acontece).\n- Verifique se o criativo registrado corresponde ao imóvel discutido AGORA. Use a data e o horário de envio como referência: o criativo correto é o que foi enviado em proximidade temporal com a conversa sobre este imóvel.\n- Se houver mais de um criativo registrado, ou qualquer dúvida sobre qual pertence a este imóvel, PERGUNTE ao cliente qual usar.\n- Se nenhum criativo foi recebido, peça que o cliente envie antes de finalizar.\nMantenha isso sempre presente, atualizado e congruente: o anúncio tem que subir com o criativo certo, do imóvel certo.\n \nBloco 6 — Lógica de decisão (árvore de raciocínio)\nExecute SEMPRE nesta ordem, de forma concisa:\n1. Identifique o OBJETIVO (moradia/veraneio/investimento) → define o esqueleto de copy.\n2. Leia o VALOR do imóvel → define o público base pela tabela 3.1 (regra dura).\n3. Defina o público: profissão clara → Profissões; investidor → Invest; corretor → Corretores; senão a variação adequada. Sugira o público recomendado de forma BREVE e peça confirmação. NÃO liste o catálogo.\n4. Pergunte o TRILHO (ver Bloco 6.5) — de forma curta.\n5. Verifique o criativo (Bloco 5.1).\n6. Estime o tamanho da base: <100mil amarelo / <50mil vermelho → abra configurações conforme 3.3.\n7. Aplique configurações fixas (Marketplace/Notificações off; exclusões se frequência alta).\n8. Sugira a FAIXA de verba de forma SUCINTA — uma frase, sem explicação longa.\n9. Faça um resumo curto da campanha e aguarde o \"sim\".\n \nBloco 6.5 — Escolha de trilho: Alcance vs Precisão\nA escolha do trilho pertence ao cliente. Pergunte de forma BREVE — uma frase curta para cada opção, nada de parágrafo:\n\"Você prefere ALCANCE (falar com mais gente, custo por lead menor) ou PRECISÃO (menos gente, lead mais qualificado)? Nos dois eu mantenho um filtro de qualidade.\"\nNÃO liste públicos a menos que o cliente peça. Se o cliente não entender, dê um exemplo curto do negócio dele. Se ainda assim não decidir, use PRECISÃO como padrão.\nUso interno: trilho ALCANCE → públicos mais amplos (Pub 0/1/2). Trilho PRECISÃO → públicos mais segmentados (Pub 3/4/5/Invest/Profissões, LIMITAR). A faixa de valor (Bloco 3.1) continua acima do trilho — o trilho ajusta a abertura dentro do que a faixa permite, nunca contra ela. TODAS as campanhas são de MENSAGEM (CTWA) — nunca sugira formulário, lead form, cadastro ou qualquer outro destino.\n \nBloco 7 — Casos de borda\nValor não informado → pergunte (sem valor não há decisão de público).\nCriativo não enviado → peça ao cliente o criativo pronto antes de finalizar. A Quirk não produz criativo.\nCliente não entende a pergunta de trilho → dê um exemplo curto do negócio dele; se ainda assim não decidir, use PRECISÃO como padrão.\nBase estimada vermelha → recomende Pub 0 (público aberto), de forma breve.\nPedido fora do imobiliário → encaminhe para humano.\n \nBloco 8 — Confirmação e segurança\nAntes de considerar a campanha confirmada:\n1. Dê um Nome claro para a campanha e destaque isso na mensagem.\n2. Faça um resumo CURTO da campanha (objetivo, público, região, VERBA DIÁRIA COMO NÚMERO FECHADO) — em poucas linhas, não um relatório.\n3. NOMEIE EXPLICITAMENTE o público escolhido no resumo, usando o rótulo da matriz Quirk (ex: \"Pub Quirk 4\", \"Pub Quirk Invest + Alto valor\", \"Pub Corretores #1\"). Pode acompanhar de uma frase curta humanizando.\n4. **OBRIGATÓRIO** — termine SEMPRE a mensagem do resumo final com EXATAMENTE esta frase, em destaque, em uma nova linha:\n\n**Pra confirmar e subir esta campanha, responda: CONFIRMADO**\n\n(use exatamente assim, com a palavra CONFIRMADO em maiúsculas. Sem variação. Sem traduzir. Sem reescrever.)\n\n5. Aguarde o cliente responder a palavra CONFIRMADO. Qualquer outra resposta (sim, ok, manda ver, vamos, etc) NÃO conta como confirmação — pergunte de novo \"Pra subir, preciso que você responda CONFIRMADO\".\n\nREGRA INVIOLÁVEL: a palavra de confirmação é exatamente CONFIRMADO. Nada mais dispara a criação da campanha.\n\nNÃO entregue JSON, dados técnicos estruturados ou marcadores internos na conversa com o cliente. A conversa é humana e limpa.\nAcompanhamento: o cliente pode pedir o desempenho da campanha (pelo nome dela) a qualquer momento que a Quirk envia. NUNCA prometa relatório automático nem revisão programada em prazo específico — você é REATIVO, não proativo.\n \nQuirk Growth — Processo fraco desperdiça oportunidade boa.\n \n========================================\nHISTÓRICO DA CONVERSA (mensagens anteriores entre você e este cliente):\n>>>{{ $node['select_conversa'].json.historico }}<<<\n========================================\nNOVA MENSAGEM DO CLIENTE (acabou de chegar agora):\n{{ $node['webhook'].json.body.message.text }}\n========================================\nINSTRUÇÃO: Se o HISTÓRICO acima tiver conteúdo, dê continuidade natural à conversa — NÃO recomece nem repita perguntas já respondidas. Se estiver vazio, é o primeiro contato. Responda à NOVA MENSAGEM de forma curta e direta, seguindo as regras dos blocos. Sua resposta vai direto pro WhatsApp do cliente — escreva apenas a mensagem conversacional, sem JSON, sem dados técnicos, sem marcadores internos.",
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "WqFBad1qVsyh6ole",
          "name": "Quirk Anthropic"
        }
      }
    },
    {
      "id": "classifier",
      "name": "classifier",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [
        1780,
        100
      ],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "model": "claude-sonnet-4-5",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Mensagem do cliente: {{ $('normalize_phone').item.json.mensagem_texto }}\n\nResposta do agente: {{ $('agente_principal').item.json.message?.content?.[0]?.text || $('agente_principal').item.json.content?.[0]?.text || '' }}"
            }
          ]
        },
        "options": {
          "system": "Você é um classificador binário SIMPLES. Sua única função é decidir se o cliente respondeu EXATAMENTE a palavra CONFIRMADO (case-insensitive) em resposta a um pedido de confirmação do agente.\n\nMENSAGEM DO CLIENTE (a mais recente):\n>>>{{ $node['webhook'].json.body.message.text }}<<<\n\nRESPOSTA DO AGENTE A ESSA MENSAGEM:\n>>>{{ $node['agente_principal'].json.message.content[0].text }}<<<\n\n==============================================\nREGRA ÚNICA E ABSOLUTA:\n==============================================\n\nResponda CONFIRMADO se TODAS as 3 condições abaixo forem verdadeiras:\n\n1. A mensagem do cliente é EXATAMENTE a palavra \"CONFIRMADO\" (ignorando maiúsculas/minúsculas e espaços ao redor). Aceitam-se variações ortográficas:\n   ✅ CONFIRMADO, confirmado, Confirmado, CONFIRMADO!, confirmado., \"confirmado\" entre aspas.\n   ❌ NÃO ACEITA: \"sim\", \"pode\", \"ok\", \"manda ver\", \"vamos\", \"fechado\", \"tá bom\", \"confirma\", \"confirmo\", \"confirmando\", frases longas que CONTENHAM a palavra confirmado mas não APENAS ela (ex: \"confirmado vamos seguir\" — não conta).\n\n2. A resposta do agente (na mensagem anterior visível no contexto) PEDIU a palavra CONFIRMADO explicitamente (frase tipo \"responda CONFIRMADO\" ou similar) ou trata essa resposta como confirmação final (\"subindo agora\", \"tá no ar\").\n\n3. Ainda assim — verifique se a resposta do agente AGORA trata como confirmação (ex.: \"Subindo agora\", \"Tá no ar\", \"Vou subir\"). Se o agente AINDA está coletando ou perguntando algo, responda PENDENTE mesmo que cliente tenha dito CONFIRMADO (pode ser confirmação prematura).\n\n==============================================\nEM QUALQUER OUTRA SITUAÇÃO → PENDENTE.\n==============================================\n\nCliente disse só \"sim\" → PENDENTE.\nCliente disse \"ok pode subir\" → PENDENTE.\nCliente disse \"pode\" → PENDENTE.\nCliente disse \"manda ver\" → PENDENTE.\nCliente disse \"vamos\" → PENDENTE.\nCliente disse \"confirmo\" (verbo, não substantivo) → PENDENTE.\nCliente disse \"confirmando\" → PENDENTE.\nCliente disse \"confirmado mesmo\" → PENDENTE (não é APENAS a palavra).\nCliente disse \"CONFIRMADO\" mas agente ainda perguntou algo na resposta → PENDENTE.\n\nREGRA DE SEGURANÇA: na menor dúvida, responda PENDENTE.\n\n==============================================\nFORMATO DA RESPOSTA:\n==============================================\nResponda com UMA ÚNICA PALAVRA, em letras maiúsculas, sem pontuação, sem aspas, sem explicação, sem nada antes ou depois:\nCONFIRMADO\nou\nPENDENTE",
          "maxTokens": 20,
          "temperature": 0
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "WqFBad1qVsyh6ole",
          "name": "Quirk Anthropic"
        }
      }
    },
    {
      "id": "build_historico",
      "name": "build_historico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        100
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const histAtual = $('select_conversa').first().json.historico || '';\nconst userMsg = $('normalize_phone').first().json.mensagem_texto || '';\nconst agentResp = $('agente_principal').first().json.message?.content?.[0]?.text\n                 || $('agente_principal').first().json.content?.[0]?.text\n                 || '';\nconst classResp = ($('classifier').first().json.message?.content?.[0]?.text\n                 || $('classifier').first().json.content?.[0]?.text\n                 || 'PENDENTE').trim();\n\nconst novoTurn = `|||TURN|||Cliente: ${userMsg}\\nClaude: ${agentResp}`;\nconst completo = histAtual + novoTurn;\n// Trunca em últimos 20 turnos\nconst turns = completo.split('|||TURN|||');\nconst ultimos20 = turns.slice(-20).join('|||TURN|||');\n\nreturn [{\n  json: {\n    historico_atualizado: ultimos20,\n    classifier_result: classResp,\n    agente_resposta: agentResp,\n    telefone: $('normalize_phone').first().json.telefone_normalizado\n  }\n}];"
      }
    },
    {
      "id": "upsert_conversa",
      "name": "upsert_conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2220,
        100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.conversas (telefone, historico)\nVALUES ($1, $2)\nON CONFLICT (telefone) DO UPDATE\n  SET historico = EXCLUDED.historico,\n      ultima_atualizacao = NOW()",
        "options": {
          "queryReplacement": "={{ $json.telefone }},{{ $json.historico_atualizado }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "uPzd3Pjx8g5F7GF6",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "send_resposta",
      "name": "send_resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.UAZAPI_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('build_historico').item.json.telefone }}"
            },
            {
              "name": "text",
              "value": "={{ $('build_historico').item.json.agente_resposta }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "if_confirmado",
      "name": "if_confirmado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $('build_historico').item.json.classifier_result.toUpperCase() }}",
              "rightValue": "CONFIRMADO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "extrator",
      "name": "extrator",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [
        2880,
        50
      ],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "model": "claude-sonnet-4-5",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $('build_historico').item.json.historico_atualizado }}"
            }
          ]
        },
        "options": {
          "system": "Você é um EXTRATOR de dados de campanha. Sua única função é ler a conversa completa abaixo entre o agente de tráfego da Quirk e o cliente, e extrair a estrutura final da campanha que o cliente confirmou.\n\nCONVERSA COMPLETA:\n>>>{{ $node['select_conversa'].json.historico }}<<<\n\nREGRAS GERAIS:\n- Responda APENAS com um objeto JSON válido. Nada antes, nada depois. Sem marcadores de código (sem crase tripla), sem explicação, sem comentário.\n- Preencha cada campo com o dado REAL extraído da conversa.\n- Verba diária (verba_diaria) e valor do imóvel (valor_imovel): devolva SEMPRE um NÚMERO INTEIRO, sem \"R$\", sem pontos de milhar, sem aspas. Exemplos válidos: 30, 50, 100, 450000, 1500000.\n- CRÍTICO sobre verba_diaria: nunca devolva null ou string. Se o cliente disse \"confirma\" sem citar verba específica, use o valor MENOR da faixa que o agente sugeriu (ex: agente sugeriu \"R$ 70-100/dia\" → use 70). Se nenhuma verba foi citada na conversa inteira, use 30 como padrão (R$ 30/dia, valor seguro mínimo). NUNCA use o valor maior — começamos com o piso pra não comprometer verba do cliente.\n\nREGRAS ESPECIAIS (sempre aplique):\n- objetivo_meta: SEMPRE \"OUTCOME_LEADS\". Todas as campanhas da Quirk Auto Ads são de mensagem CTWA (Click-to-WhatsApp). Na API da Meta, isso usa objective OUTCOME_LEADS no nível da campanha, e CONVERSATIONS + WHATSAPP no nível do conjunto. O Extrator sempre devolve OUTCOME_LEADS aqui.\n- publico_escolhido: deve coincidir com o NOME EXATO de um item da TABELA DE PÚBLICOS abaixo. Se o agente nominou (ex: \"Pub Quirk 4\"), use literal. Se NÃO houver nome formal mas o cliente confirmou trilho + faixa de valor, deduza o público mais adequado pela regra: alcance + ate_700k → \"Pub Quirk 2\"; alcance + acima_1mi → \"Pub Quirk 4\"; precisao + acima_1mi → \"Pub Quirk 5\"; investidor → \"Pub Quirk Invest\"; profissão específica → \"Pub Quirk Profissões\"; corretor → \"Pub Corretores #1\". Em última instância (sem dado), use \"Pub Quirk 0\".\n- nome da campanha: extraia EXATAMENTE como o cliente definiu na conversa. Não reformule.\n- copy: se a copy específica não foi escrita na conversa, monte uma descrição curta baseada no produto (tipo, região, valor, diferencial). Não deixe vazio.\n- periodo: se não foi definido, use \"15 dias\" como padrão Quirk.\n\nREGRA DE TARGETING_META (CRÍTICA):\nO campo \"targeting_meta\" deve ser preenchido conforme a TABELA DE PÚBLICOS abaixo, usando o valor de \"publico_escolhido\" como chave. Copie o objeto JSON da tabela EXATAMENTE como está, depois ajuste age_min/age_max e geo_locations se o cliente confirmou valores diferentes na conversa.\n\nSe o cliente mencionou cidade específica (ex: \"Curitiba\", \"São Paulo\"), substitua:\n  \"geo_locations\": {\"countries\": [\"BR\"]}\npor:\n  \"geo_locations\": {\"cities\": [{\"name\": \"Curitiba, BR\"}]}\n\nSe o cliente mencionou raio (ex: \"30km da Gleba Palhano\"), adicione \"radius\": 30 e \"distance_unit\": \"kilometer\" dentro do objeto da cidade.\n\nREGRA CRÍTICA DE TIPOS NO JSON DE SAÍDA (sob pena de quebrar a campanha na Meta):\n- Os campos numéricos do \"targeting_meta\" — age_min, age_max — DEVEM ser INTEIROS JSON (sem aspas, sem ponto, sem string). Exemplo VÁLIDO: \"age_min\":25 ; \"age_max\":60 . Exemplo INVÁLIDO: \"age_min\":\"25\" ; \"age_max\":null .\n- O campo verba_diaria DEVE ser INTEIRO JSON. Exemplo VÁLIDO: \"verba_diaria\":30 . INVÁLIDO: \"verba_diaria\":\"30\" ou null.\n- O campo valor_imovel DEVE ser INTEIRO JSON. Mesmas regras.\n- Se algum desses campos não puder ser deduzido, NUNCA devolva null — use o valor padrão da tabela (age_min:25, age_max:60, verba_diaria:30, valor_imovel:0).\n\nREGRA CRÍTICA DE GEO_LOCATIONS:\nO cliente DEVE ter informado uma cidade brasileira + raio em km. Extraia ambos pros campos:\n- conjunto.geo (string descritiva: \"Goiânia, raio 15km\")\n- conjunto.geo_cidade (nome literal da cidade)\n- conjunto.geo_raio_km (inteiro)\n\nEm \"targeting_meta.geo_locations\", monte usando a TABELA DE CIDADES BR. Formato:\n  \"geo_locations\": {\"cities\": [{\"key\": \"<KEY>\", \"radius\": <raio_km>, \"distance_unit\": \"kilometer\"}]}\n\nSe cidade não na tabela, fallback: {\"countries\":[\"BR\"]} + alerta no campo \"alertas\".\n\nTABELA DE CIDADES BR — nome → key:\n{\"São Paulo\":\"269969\",\"Rio de Janeiro\":\"267027\",\"Brasília\":\"245683\",\"Belo Horizonte\":\"244661\",\"Salvador\":\"267730\",\"Fortaleza\":\"253370\",\"Curitiba\":\"250457\",\"Manaus\":\"259014\",\"Recife\":\"266284\",\"Goiânia\":\"254063\",\"Porto Alegre\":\"264859\",\"Belém\":\"244580\",\"Guarulhos\":\"254529\",\"Campinas\":\"247071\",\"Maceió\":\"258670\",\"Natal\":\"261132\",\"Florianópolis\":\"253249\",\"Cuiabá\":\"250332\",\"João Pessoa\":\"256863\",\"Aracaju\":\"242415\",\"Teresina\":\"272278\",\"Campo Grande\":\"247184\",\"São Luís\":\"269788\",\"Macapá\":\"258622\",\"Vitória\":\"274425\",\"Porto Velho\":\"265452\",\"Boa Vista\":\"245039\",\"Palmas\":\"262281\",\"Rio Branco\":\"2685122\",\"São José dos Campos\":\"269667\",\"Ribeirão Preto\":\"266876\",\"Sorocaba\":\"271407\",\"Santos\":\"268866\",\"Niterói\":\"261275\",\"Uberlândia\":\"273173\",\"Londrina\":\"258404\",\"Joinville\":\"256952\",\"Caxias do Sul\":\"248639\",\"Aparecida de Goiânia\":\"2684750\",\"Feira de Santana\":\"252968\",\"São Bernardo do Campo\":\"268965\",\"Santo André\":\"268652\",\"Osasco\":\"261985\",\"Guarujá\":\"254526\",\"Maringá\":\"259493\",\"Pelotas\":\"263483\",\"Ponta Grossa\":\"264635\",\"Anápolis\":\"241991\",\"Bauru\":\"244454\",\"Piracicaba\":\"264046\",\"Limeira\":\"258269\",\"Foz do Iguaçu\":\"253418\",\"Caruaru\":\"248292\",\"Mossoró\":\"260819\",\"Caucaia\":\"2784597\",\"Imperatriz\":\"255160\",\"Camaçari\":\"246867\",\"Vitória da Conquista\":\"274411\",\"Paulista\":\"2781193\",\"Volta Redonda\":\"274483\",\"Petrolina\":\"263697\",\"Juazeiro do Norte\":\"257145\",\"Praia Grande\":\"2695717\",\"São Vicente\":\"270299\",\"Itaquaquecetuba\":\"255914\",\"Mogi das Cruzes\":\"260332\",\"Diadema\":\"250771\",\"Suzano\":\"271555\",\"Itu\":\"256029\",\"Indaiatuba\":\"255192\",\"Jundiaí\":\"257242\",\"Americana\":\"241913\",\"São Carlos\":\"269036\",\"Marília\":\"259475\",\"Presidente Prudente\":\"265708\",\"Araraquara\":\"242546\",\"Mauá\":\"259874\",\"Carapicuíba\":\"248018\",\"Embu das Artes\":\"251125\",\"Taubaté\":\"272181\",\"Jacareí\":\"256166\",\"Campos dos Goytacazes\":\"2684440\",\"Petrópolis\":\"263698\",\"Cabo Frio\":\"246197\",\"Macaé\":\"258596\",\"Nova Iguaçu\":\"261435\",\"São Gonçalo\":\"269263\",\"Duque de Caxias\":\"2776811\",\"Belford Roxo\":\"244612\",\"Sorriso\":\"2684469\",\"Sinop\":\"2684461\",\"Rondonópolis\":\"267336\",\"Várzea Grande\":\"273711\",\"Chapecó\":\"248896\",\"Blumenau\":\"244887\",\"Itajaí\":\"255675\",\"São José\":\"2775570\",\"Criciúma\":\"250158\"}\n\nTABELA DE PÚBLICOS — VERSÃO COM IDs REAIS DA META (use como referência absoluta — não invente fora dela):\n\nNOTA TÉCNICA: cada interest/behavior/work_position tem ID numérico real obtido via Graph API. Pub Quirk 0 e Pub Quirk 1 ficam broad (não há IDs confiáveis pra \"viajantes frequentes em geral\" no catálogo Meta — o nome retorna sempre marcas específicas). Os demais Pub Quirk usam targeting refinado com IDs reais:\n\n[Pub Quirk 0]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"targeting_automation\":{\"advantage_audience\":1}}\n\n[Pub Quirk 1]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 1.1]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6003077334693\",\"name\":\"Condomínio fechado\"},{\"id\":\"6003382467537\",\"name\":\"Casa unifamiliar\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 1.2]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6007828099136\",\"name\":\"Bens de luxo\"},{\"id\":\"6003446239080\",\"name\":\"Investimento imobiliário\"},{\"id\":\"6003077334693\",\"name\":\"Condomínio fechado\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 1.3]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6003446239080\",\"name\":\"Investimento imobiliário\"},{\"id\":\"6002965402168\",\"name\":\"OLX Brasil\"},{\"id\":\"6014552641654\",\"name\":\"Zap Imóveis\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 1.4]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6003077334693\",\"name\":\"Condomínio fechado\"},{\"id\":\"6002965402168\",\"name\":\"OLX Brasil\"},{\"id\":\"6014552641654\",\"name\":\"Zap Imóveis\"},{\"id\":\"6003446239080\",\"name\":\"Investimento imobiliário\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 1.5]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6003332796032\",\"name\":\"Desenvolvimento imobiliário\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 2]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6002979192120\",\"name\":\"Real Estate\"},{\"id\":\"6003392721577\",\"name\":\"Investment\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 3]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6007828099136\",\"name\":\"Bens de luxo\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 4]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":64,\"flexible_spec\":[{\"interests\":[{\"id\":\"6007828099136\",\"name\":\"Bens de luxo\"}]},{\"behaviors\":[{\"id\":\"6002714895372\",\"name\":\"Viajantes frequentes\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 5]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":64,\"flexible_spec\":[{\"interests\":[{\"id\":\"6007828099136\",\"name\":\"Bens de luxo\"}]},{\"behaviors\":[{\"id\":\"6002714895372\",\"name\":\"Viajantes frequentes\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 6]\n{\"geo_locations\":{\"cities\":[{\"name\":\"São Paulo, BR\"},{\"name\":\"Rio de Janeiro, BR\"},{\"name\":\"Brasília, BR\"},{\"name\":\"Belo Horizonte, BR\"},{\"name\":\"Curitiba, BR\"},{\"name\":\"Porto Alegre, BR\"}]},\"age_min\":30,\"age_max\":64,\"flexible_spec\":[{\"interests\":[{\"id\":\"6007828099136\",\"name\":\"Bens de luxo\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk 7]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":64,\"flexible_spec\":[{\"interests\":[{\"id\":\"6007828099136\",\"name\":\"Bens de luxo\"}]},{\"interests\":[{\"id\":\"6003221189867\",\"name\":\"Piscina\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk Invest]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6003392721577\",\"name\":\"Investment\"},{\"id\":\"6003446239080\",\"name\":\"Investimento imobiliário\"},{\"id\":\"6003287729076\",\"name\":\"Renda passiva\"},{\"id\":\"6003143720966\",\"name\":\"Finanças pessoais\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk Invest + Intermediário]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6003392721577\",\"name\":\"Investment\"},{\"id\":\"6003446239080\",\"name\":\"Investimento imobiliário\"},{\"id\":\"6003143720966\",\"name\":\"Finanças pessoais\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk Invest + Alto valor]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":64,\"flexible_spec\":[{\"interests\":[{\"id\":\"6003446239080\",\"name\":\"Investimento imobiliário\"},{\"id\":\"6003392721577\",\"name\":\"Investment\"}]},{\"interests\":[{\"id\":\"6007828099136\",\"name\":\"Bens de luxo\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk Profissões]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":60,\"flexible_spec\":[{\"work_positions\":[{\"id\":\"112696438745118\",\"name\":\"Lawyer\"},{\"id\":\"108768179146852\",\"name\":\"Dentist\"},{\"id\":\"106215529409578\",\"name\":\"Judge\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk Profissões + Intermediário]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":60,\"flexible_spec\":[{\"work_positions\":[{\"id\":\"112696438745118\",\"name\":\"Lawyer\"},{\"id\":\"108768179146852\",\"name\":\"Dentist\"},{\"id\":\"403013926540061\",\"name\":\"Resident Physician\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Quirk Profissões + Alto valor]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":30,\"age_max\":64,\"flexible_spec\":[{\"work_positions\":[{\"id\":\"112696438745118\",\"name\":\"Lawyer\"},{\"id\":\"106215529409578\",\"name\":\"Judge\"}]},{\"interests\":[{\"id\":\"6007828099136\",\"name\":\"Bens de luxo\"}]}],\"user_os\":[\"iOS\"],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Corretores #1]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6002979192120\",\"name\":\"Real Estate\"},{\"id\":\"6778210171187\",\"name\":\"Corretagem de imóveis\"}],\"work_positions\":[{\"id\":\"171815889531702\",\"name\":\"Real Estate Agent\"},{\"id\":\"111867022164671\",\"name\":\"Real estate broker\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Corretores #2]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"interests\":[{\"id\":\"6002979192120\",\"name\":\"Real Estate\"},{\"id\":\"6778210171187\",\"name\":\"Corretagem de imóveis\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\n[Pub Corretores #3]\n{\"geo_locations\":{\"countries\":[\"BR\"]},\"age_min\":25,\"age_max\":60,\"flexible_spec\":[{\"work_positions\":[{\"id\":\"171815889531702\",\"name\":\"Real Estate Agent\"},{\"id\":\"111867022164671\",\"name\":\"Real estate broker\"}]}],\"targeting_automation\":{\"advantage_audience\":0}}\n\nESTRUTURA DO JSON (responda exatamente neste formato, preenchido):\n{\n  \"objetivo\": \"moradia ou veraneio ou investimento\",\n  \"faixa_valor\": \"ate_700k ou 700k_1mi ou acima_1mi ou investidor\",\n  \"trilho_escolhido\": \"alcance ou precisao\",\n  \"publico_escolhido\": \"nome literal de um item da TABELA acima\",\n  \"campanha\": {\n    \"nome\": \"exatamente como o cliente definiu\",\n    \"objetivo_meta\": \"OUTCOME_LEADS\",\n    \"verba_diaria\": 0,\n    \"periodo\": \"período acordado ou 15 dias se não definido\"\n  },\n  \"conjunto\": {\n    \"idade_min\": 25,\n    \"idade_max\": 60,\n    \"geo\": \"cidade, bairro ou região do imóvel\",\n    \"limitar\": true\n  },\n  \"anuncio\": {\n    \"tipo_imovel\": \"casa ou apartamento ou sobrado ou lote etc\",\n    \"valor_imovel\": 0,\n    \"copy\": \"descrição curta do produto - tipo, região, valor, diferencial (NUNCA vazio)\"\n  },\n  \"targeting_meta\": {}\n}\n\nREGRA FINAL:\n- \"targeting_meta\" deve ser preenchido com o OBJETO da TABELA correspondente ao \"publico_escolhido\".\n- Se houver ajustes do cliente (idade, geo), aplique sobre o objeto base ANTES de colocar no JSON.\n- Se \"publico_escolhido\" não bater com nenhum item da TABELA, use o objeto de [Pub Quirk 0] e marque \"publico_escolhido\" como \"Pub Quirk 0\".\n\nResponda SOMENTE com o JSON preenchido, mais nada.",
          "maxTokens": 3000,
          "temperature": 0
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "WqFBad1qVsyh6ole",
          "name": "Quirk Anthropic"
        }
      }
    },
    {
      "id": "parse_extrator",
      "name": "parse_extrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        50
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extrai JSON da resposta do extrator (pode vir embrulhado em markdown ```json...```)\nconst raw = $('extrator').first().json.message?.content?.[0]?.text\n         || $('extrator').first().json.content?.[0]?.text\n         || '';\n\nlet cleaned = raw.trim();\n// Remove blocos de código markdown\ncleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/, '').trim();\n// Procura primeiro { e último } pra ser tolerante\nconst firstBrace = cleaned.indexOf('{');\nconst lastBrace = cleaned.lastIndexOf('}');\nif (firstBrace >= 0 && lastBrace > firstBrace) {\n  cleaned = cleaned.substring(firstBrace, lastBrace + 1);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{json: {parse_error: e.message, raw: raw.substring(0, 500), json_extrator: null}}];\n}\n\nreturn [{json: {json_extrator: parsed, parse_ok: true}}];"
      }
    },
    {
      "id": "validate",
      "name": "validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        50
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cliente = $('select_cliente').first().json;\nconst conversa = $('select_conversa').first().json;\nconst json = $('parse_extrator').first().json.json_extrator;\nconst errors = [];\n\nif (!json) {\n  errors.push('json_extrator é null (parse falhou)');\n  return [{json: {ok: false, motivos: errors}}];\n}\n\nconst verba = parseInt(json.campanha?.verba_diaria);\nif (isNaN(verba) || verba < 10) errors.push('verba_diaria < 10');\nif (verba > 100) errors.push('verba_diaria > 100');\nif (!json.campanha?.objetivo_meta) errors.push('objetivo_meta vazio');\nif (!json.conjunto?.geo) errors.push('geo vazio');\nif (!json.publico_escolhido) errors.push('publico_escolhido vazio');\nif (!conversa?.criativo_url) errors.push('criativo_url vazio');\nif (!cliente?.ad_account_id) errors.push('ad_account_id vazio');\nif (!json.targeting_meta) errors.push('targeting_meta vazio');\nif (!json.targeting_meta?.geo_locations) errors.push('geo_locations vazio');\n\nreturn [{\n  json: {\n    ok: errors.length === 0,\n    motivos: errors,\n    json_extrator: json,\n    cliente,\n    conversa,\n    verba_em_centavos: Math.max(verba * 100, 1000)\n  }\n}];"
      }
    },
    {
      "id": "if_valid",
      "name": "if_valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3540,
        50
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "audit_validacao_falhou",
      "name": "audit_validacao_falhou",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3760,
        230
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.audit_log (telefone, evento, detalhes) VALUES ($1, 'erro_validacao', $2)",
        "options": {
          "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ JSON.stringify({motivos: $('validate').item.json.motivos, json: $('validate').item.json.json_extrator}) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "uPzd3Pjx8g5F7GF6",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "meta_d1_campaign",
      "name": "meta_d1_campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/campaigns' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"objective\": \"OUTCOME_LEADS\",\n  \"status\": \"PAUSED\",\n  \"special_ad_categories\": [],\n  \"is_adset_budget_sharing_enabled\": false,\n  \"access_token\": \"{{ $env.META_ACCESS_TOKEN }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "meta_d2_adset",
      "name": "meta_d2_adset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/adsets' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.publico_escolhido }}\",\n  \"campaign_id\": \"{{ $('meta_d1_campaign').item.json.id }}\",\n  \"daily_budget\": {{ $('validate').item.json.verba_em_centavos }},\n  \"billing_event\": \"IMPRESSIONS\",\n  \"optimization_goal\": \"CONVERSATIONS\",\n  \"destination_type\": \"WHATSAPP\",\n  \"promoted_object\": {\"page_id\": \"{{ $('validate').item.json.cliente.page_id }}\"},\n  \"bid_strategy\": \"LOWEST_COST_WITHOUT_CAP\",\n  \"targeting\": {{ JSON.stringify($('validate').item.json.json_extrator.targeting_meta) }},\n  \"status\": \"PAUSED\",\n  \"access_token\": \"{{ $env.META_ACCESS_TOKEN }}\"\n}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "meta_d3_creative",
      "name": "meta_d3_creative",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/adcreatives' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"object_story_spec\": {\n    \"page_id\": \"{{ $('validate').item.json.cliente.page_id }}\",\n    \"link_data\": {\n      \"message\": \"{{ $('validate').item.json.json_extrator.anuncio.copy }}\",\n      \"picture\": \"{{ ($('validate').item.json.conversa.criativo_url || '').trim().split('\\n').filter(u => u).slice(-1)[0] }}\",\n      \"link\": \"{{ $('validate').item.json.cliente.wa_link }}\",\n      \"call_to_action\": {\n        \"type\": \"WHATSAPP_MESSAGE\",\n        \"value\": {\"app_destination\": \"WHATSAPP\"}\n      }\n    }\n  },\n  \"access_token\": \"{{ $env.META_ACCESS_TOKEN }}\"\n}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "meta_d4_ad",
      "name": "meta_d4_ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4420,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v25.0/act_' + $('validate').item.json.cliente.ad_account_id + '/ads' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('validate').item.json.json_extrator.campanha.nome }}\",\n  \"adset_id\": \"{{ $('meta_d2_adset').item.json.id }}\",\n  \"creative\": {\"creative_id\": \"{{ $('meta_d3_creative').item.json.id }}\"},\n  \"status\": \"PAUSED\",\n  \"access_token\": \"{{ $env.META_ACCESS_TOKEN }}\"\n}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "insert_campanha",
      "name": "insert_campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4640,
        -100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.campanhas\n(telefone, nome_campanha, ad_account_id, campaign_id, adset_id, creative_id, ad_id, status, json_extrator)\nVALUES ($1, $2, $3, $4, $5, $6, $7, 'PAUSED', $8::jsonb)",
        "options": {
          "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ $('validate').item.json.json_extrator.campanha.nome }},{{ $('validate').item.json.cliente.ad_account_id }},{{ $('meta_d1_campaign').item.json.id }},{{ $('meta_d2_adset').item.json.id }},{{ $('meta_d3_creative').item.json.id }},{{ $('meta_d4_ad').item.json.id }},{{ JSON.stringify($('validate').item.json.json_extrator) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "uPzd3Pjx8g5F7GF6",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "audit_campanha_criada",
      "name": "audit_campanha_criada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4860,
        -100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.audit_log (telefone, evento, detalhes) VALUES ($1, 'campanha_criada', $2::jsonb)",
        "options": {
          "queryReplacement": "={{ $('build_historico').item.json.telefone }},{{ JSON.stringify({campaign_id: $('meta_d1_campaign').item.json.id, adset_id: $('meta_d2_adset').item.json.id, creative_id: $('meta_d3_creative').item.json.id, ad_id: $('meta_d4_ad').item.json.id, nome: $('validate').item.json.json_extrator.campanha.nome}) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "uPzd3Pjx8g5F7GF6",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "send_confirmacao_cliente",
      "name": "send_confirmacao_cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5080,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.UAZAPI_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('build_historico').item.json.telefone }}"
            },
            {
              "name": "text",
              "value": "=Campanha *{{ $('validate').item.json.json_extrator.campanha.nome }}* criada em PAUSED no Ads Manager. Revise por lá pra ativar."
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "media_normalize_phone",
      "name": "media_normalize_phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        500
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $input.first().json.body || {};\nconst raw = body.chat?.phone || body.message?.sender_pn?.split('@')[0] || body.message?.from || '';\nconst normalized = String(raw).replace(/[+\\s\\-@]/g, '').replace(/s.whatsapp.net.*$/, '');\nreturn [{\n  json: {\n    ...$input.first().json,\n    telefone_normalizado: normalized,\n    message_id: body.message?.id || ''\n  }\n}];"
      }
    },
    {
      "id": "media_select_cliente",
      "name": "media_select_cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        900,
        500
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM auto_ads.clientes WHERE telefone = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.telefone_normalizado }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "uPzd3Pjx8g5F7GF6",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "media_if_cadastrado",
      "name": "media_if_cadastrado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "media_download",
      "name": "media_download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.UAZAPI_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('media_normalize_phone').item.json.message_id }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "id": "media_upsert_criativo",
      "name": "media_upsert_criativo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1560,
        460
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auto_ads.conversas (telefone, criativo_url, historico)\nVALUES ($1, $2 || E'\\n', '|||TURN|||[Sistema: criativo recebido em ' || NOW()::TEXT || ']')\nON CONFLICT (telefone) DO UPDATE\n  SET criativo_url = COALESCE(auto_ads.conversas.criativo_url, '') || EXCLUDED.criativo_url,\n      historico = COALESCE(auto_ads.conversas.historico, '') || EXCLUDED.historico,\n      ultima_atualizacao = NOW()",
        "options": {
          "queryReplacement": "={{ $('media_normalize_phone').item.json.telefone_normalizado }},{{ $('media_download').item.json.data?.fileURL || $('media_download').item.json.fileURL || '' }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "uPzd3Pjx8g5F7GF6",
          "name": "Quirk Auto Ads Postgres"
        }
      }
    },
    {
      "id": "media_send_confirma",
      "name": "media_send_confirma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://quirkgrowth.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.UAZAPI_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('media_normalize_phone').item.json.telefone_normalizado }}"
            },
            {
              "name": "text",
              "value": "Recebi seu criativo! Vou usar nessa campanha quando você confirmar."
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "respond_immediate",
            "type": "main",
            "index": 0
          },
          {
            "node": "switch_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch_type": {
      "main": [
        [
          {
            "node": "normalize_phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "media_normalize_phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_phone": {
      "main": [
        [
          {
            "node": "select_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_cliente": {
      "main": [
        [
          {
            "node": "if_cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_cadastrado": {
      "main": [
        [
          {
            "node": "select_conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_nao_cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_conversa": {
      "main": [
        [
          {
            "node": "agente_principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_principal": {
      "main": [
        [
          {
            "node": "classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classifier": {
      "main": [
        [
          {
            "node": "build_historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_historico": {
      "main": [
        [
          {
            "node": "upsert_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert_conversa": {
      "main": [
        [
          {
            "node": "send_resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_resposta": {
      "main": [
        [
          {
            "node": "if_confirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_confirmado": {
      "main": [
        [
          {
            "node": "extrator",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "extrator": {
      "main": [
        [
          {
            "node": "parse_extrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_extrator": {
      "main": [
        [
          {
            "node": "validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate": {
      "main": [
        [
          {
            "node": "if_valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_valid": {
      "main": [
        [
          {
            "node": "meta_d1_campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "audit_validacao_falhou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta_d1_campaign": {
      "main": [
        [
          {
            "node": "meta_d2_adset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta_d2_adset": {
      "main": [
        [
          {
            "node": "meta_d3_creative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta_d3_creative": {
      "main": [
        [
          {
            "node": "meta_d4_ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta_d4_ad": {
      "main": [
        [
          {
            "node": "insert_campanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_campanha": {
      "main": [
        [
          {
            "node": "audit_campanha_criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audit_campanha_criada": {
      "main": [
        [
          {
            "node": "send_confirmacao_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_normalize_phone": {
      "main": [
        [
          {
            "node": "media_select_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_select_cliente": {
      "main": [
        [
          {
            "node": "media_if_cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_if_cadastrado": {
      "main": [
        [
          {
            "node": "media_download",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "media_download": {
      "main": [
        [
          {
            "node": "media_upsert_criativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_upsert_criativo": {
      "main": [
        [
          {
            "node": "media_send_confirma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ddfe2209-1a96-4b9a-8e15-1251c8b7d105",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-29T00:50:42.738Z",
      "createdAt": "2026-05-29T00:50:42.738Z",
      "role": "workflow:owner",
      "workflowId": "fBUin1UPt5xJEp6g",
      "projectId": "aVAZ6FhZZRIaJWwx",
      "project": {
        "updatedAt": "2025-06-24T02:20:51.472Z",
        "createdAt": "2025-06-24T01:19:43.055Z",
        "id": "aVAZ6FhZZRIaJWwx",
        "name": "Renan Real <contato@quirkgrowth.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b66f7878-8a71-4e1a-a4a4-d4dc57536429",
        "projectRelations": [
          {
            "updatedAt": "2025-06-24T01:19:43.055Z",
            "createdAt": "2025-06-24T01:19:43.055Z",
            "userId": "b66f7878-8a71-4e1a-a4a4-d4dc57536429",
            "projectId": "aVAZ6FhZZRIaJWwx",
            "user": {
              "updatedAt": "2026-05-28T20:55:37.000Z",
              "createdAt": "2025-06-24T01:19:42.692Z",
              "id": "b66f7878-8a71-4e1a-a4a4-d4dc57536429",
              "email": "contato@quirkgrowth.com.br",
              "firstName": "Renan",
              "lastName": "Real",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-24T02:18:18.610Z",
                "personalization_survey_n8n_version": "1.99.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "7CKx0VUfm7PnkAUM",
                "userActivatedAt": 1750822292593,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1779563837984
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}